{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set categories = craft.categories.relatedTo(entry) %}

{% set catTitle = '' %}
{% for category in categories %}
    {% set catTitle = category.title %}
{% endfor %}

{% set back = '' %}
{% for asset in entry.formPageBackgroundImage.all() %}
    {% set back = 'background-image:url('~asset.url~');' %}
{% endfor %}

{% set menuTitle = '' %}
{% set menuAsset = '' %}
{% if entry.includedAssetTitle %}
    {% set menuTitle = entry.includedAssetTitle %}
{% endif %}
{% if entry.cfb_includedMenuAsset | length %}
    {% set menuAsset = entry.cfb_includedMenuAsset %}
{% endif %}

<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form textarea, .ui.dropdown {
        border-radius: 6px !important;
        background-color: #e4e4e4 !important;
        border: none !important;
    }

    .ui.dropdown .menu>.item {
        background-color: #e4e4e4;
        border: none;
    }

    .ui.selection.dropdown .menu {
        border: none !important;
    }

    .slick-track {
        line-height: 150px;
    }

    .slick-initialized .slick-slide {
        vertical-align: middle !important;
    }



    @media screen and (max-width: 767px) {
        #gallery-container {
            margin-left: 3em !important;
            margin-right: 2em !important;
        }
    }

</style>

<div class="ui modal" id="catering-gallery-modal">
    <div class="content">
        <img src="" class="ui fluid centered image">
    </div>
</div>

    <div class="ui fluid container" style="{{back}}">
        <div class="ui stackable grid" style="padding-top: 8em;">
            <div class="seven wide column">
                <div class="ui inverted segment" style="background-color: rgba(0, 0, 0, 0.8);">
                    <div style="max-width: 450px;margin-left: auto">
                        <h2 style="text-transform: uppercase">{{catTitle}}</h2>
                        <p>
                            <a href="{{alias('@web')}}/catering" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO ALL CATERING OPTIONS</a>
                        </p>
                    </div>
                </div>
                {% if entry.donationRequestCopy | length %}
                    <div class="ui inverted segment" style="background-color: rgba(0, 0, 0, 0.8);max-width: 450px;margin-left: auto">
                        <p>{{entry.donationRequestCopy | raw}}</p>
                    </div>
                {% endif %}
            </div>
            <div class="one wide column"></div>
            <div class="eight wide column">
                <div class="ui segment" style="padding: 4em 5em;">
                    <h4 style="text-transform: uppercase">{{entry.title}}</h4>
                    {% if menuAsset %}
                        <p><a style="text-transform: uppercase;color:red;" target="_blank" href="{{menuAsset}}"><i class="arrow down icon"></i>&nbsp;{{menuTitle}}</a></p>
                    {% endif %}
                    <br>
                    <form class="ui form" id="my-form">
                        <input type="hidden" name="mailto" value="{{entry.formEmailNotifications}}">
                        <input type="hidden" name="formTitle" value="{{entry.title}}">
                        <input type="hidden" name="formType" value="catering">

                        {% if menuAsset %}
                            <input type="hidden" name="menuLink" value="{{menuAsset}}">
                        {% endif %}

                        <div class="ui stackable grid" style="max-width: 500px;margin-right: auto">
                            {% for field in entry.cateringFormBuilder %}
                                    {% if field.cfb_fieldType == 'textField' %}
                                        <div class="{{field.cfb_columnWidth}} column">
                                            <div class="field">
                                                <input type="text" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                                            </div>
                                        </div>
                                    {% elseif field.cfb_fieldType == 'textArea' %}
                                        <div class="{{field.cfb_columnWidth}} column">
                                            <div class="field">
                                                <textarea name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}"></textarea>
                                            </div>
                                        </div>
                                    {% elseif field.cfb_fieldType == 'datePicker' %}
                                        <div class="{{field.cfb_columnWidth}} column">
                                            <div class="field">
                                                <input type="date" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                                            </div>
                                        </div>
                                    {% elseif field.cfb_fieldType == 'dropdown' %}
                                        <div class="{{field.cfb_columnWidth}} column">
                                            <div class="field">
                                                <select class="ui dropdown" name="{{field.cfb_fieldTitle}}">
                                                    <option value="0">{{field.cfb_fieldTitle}}</option>
                                                    {% for options in field.cfb_dropdownValues %}
                                                        <option value="{{options.optionValue}}">{{options.optionLabel}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    {% elseif field.cfb_fieldType == 'plainText' %}
                                        <div class="{{field.cfb_columnWidth}} column">
                                            <div class="field">
                                                <p>{{field.cfb_fieldTitle|raw}}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                            {% endfor %}
                            <div class="field" id="little-button">
                                <button class="ui red button" id="submit-form" type="button">BOOK EVENT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% if entry.cateringEntryGallery|length %}
    <div class="container fluid ui" style="background-color: black;">
        <div class="ui container" id="gallery-container" style="padding-top: 2em;padding-bottom: 2em;">
            <div class="basic segment text ui">
                <h2 style="color: white;">GALLERY</h2>
                <div class="slick-gallery">
                    {% for asset in entry.cateringEntryGallery %}
                        <div class="open-modal-gallery ui medium image" data-src="{{ asset.url }}" style="padding: 1em;margin-right: 1em"><img src="{{ asset.url }}" alt="{{ asset.title }}" /></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $(document).ready(function(){

        $('.menu .item')
            .tab();

        $('.ui.dropdown')
            .dropdown();

        $('.slick-gallery').slick({
            dots:true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $(".open-modal-gallery").on("click", function(){
            var modal = $("#catering-gallery-modal");
            modal.find('img').attr('src', $(this).attr('data-src'));
            modal.modal('show');
        })

    });

    $("#submit-form").on("click", function(){
        var button = $(this);
        button.addClass('loading');
        var form = $('#my-form').serialize();
        $.post('/actions/business-logic/example/sendgrid-ajax', form, function(data){
            console.log(data);
            if (data.success === true) {
                button.removeClass('loading');
                $("#little-button").html('Your request has been submitted. Thank you!');
            }
        });
        // button.removeClass('loading');
    });


</script>

{% include 'globals/footer' %}