@import url("//hello.myfonts.net/count/37d152");


@font-face {font-family: 'PlexesBlackPro';src: url('webfonts/37D152_0_0.eot');src: url('webfonts/37D152_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/37D152_0_0.woff2') format('woff2'),url('webfonts/37D152_0_0.woff') format('woff'),url('webfonts/37D152_0_0.ttf') format('truetype');}


h1 {
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 4.5em !important;
    line-height: 1;
    letter-spacing: 2px;
}

h2 {
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 3.5em !important; /* 48px */
    line-height: 1;
}

h3 {
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 2.5em !important; /* 36px */
    line-height: 1;
}

h4 {
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.5em !important; /* 23px */
    line-height: 1;
}

h5 {
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.3em !important; /* 18px */
    line-height: 1;
}

h6 {
    font-family: proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.15em !important;  /* 16px */
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.8em;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
}


.ui.text.menu .global-nav .item {
    padding: .35714286em 1em;
    font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;
    /*font-size: 1.5em;*/
    text-transform: uppercase;
    color: #161616;
}


.global-nav a.item {
    font-size: 1.5vw !important;
}

@media screen and (min-width: 1300px) {
    .global-nav a.item {
        font-size: 1.5em !important;
    }
}


.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-size: 1rem;
    /*padding-left: 50px !important;*/
    /*padding-right: 50px !important;*/
}

.ui.medium-height.image {
    height: 100px;
    max-height: 100px;
    width: auto;
}

.btn-shadow {
    box-shadow: 0 7px 20px 0px #00000052 !important;
}

.backgrounds {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border:0 !important;
}

.warm-grey {
    color: #8c8c8c !important;
}

.beer.awards h1 {
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1.5em;
}

.masthead {
    height: 100vh;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;margin-bottom: 0!important;margin-top: 0!important;
}

.ui.secondary.vertical.pointing.menu .active.item {
    border-color: #ffffff !important;
}

.ui.secondary.vertical.pointing.menu {
    border-right-color: rgb(255, 255, 255) !important;
}

a,span,p,li {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: 400;
}
.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

    width: auto;
    max-width: 800px;

    position: relative;
    background: #cb5454;
    color: #fff;
    text-align: center;
    padding: 0.5em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
    margin-top: 0.6em;
}
.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #b13838;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #7c130e transparent transparent transparent;
    bottom: -1em;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.beer.wrap {
    margin: 3em 0 7em;
    /*height: 100vh;*/
}

.ui.secondary.menu .item {
    font-weight: 700;
    letter-spacing: 0.9px;
    /*text-shadow: 1px 1px 15px #0000009e;*/
}

.masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 50vh;
}

.beer-desc {
    margin-top: 1.5em;
    text-align: center !important;
}

.slick-slide > .beer-desc {
    display: none;
}

.beer-shadow {
    position:  absolute;
    z-index:  -1;
    bottom: -36px;
    left: 18%;
    width: 150px;
    opacity: 0.7;
    -webkit-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
}

.slick-list.draggable {
    padding: 2em 20px !important;
}

.beer-main {
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.slick-center .beer-main {
    top: -5px;
    transform: scale(1.12);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.4)) !important;
}

.slick-slide img {
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2));
}

.slick-slide.slick-center > .beer-desc {
    display: block;
}

.slick-center .beer-shadow {
    bottom: -46px !important;
    opacity: 0.5 !important;
    -webkit-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
}

.beer-titles {
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: 13em !important;
    pointer-events: none;
}

.page-rip {
    position: absolute;
    bottom: -11%;
    width: 100%;
    left: 0;
    pointer-events: none;
}

.slick-next {
    right: -25px;
}

.slick-prev {
    left: -45px;
}

.slick-prev i {
    font-size: 3em !important;
    z-index: 5 !important;
    color: white !important;
    text-shadow: 5px 2px 20px #0000006e !important;
}

.slick-next i {
    font-size: 3em !important;
    z-index: 5 !important;
    color: white !important;
    text-shadow: 5px 2px 20px #0000006e !important;
}

.slick-prev, .slick-next {
    line-height: 0;
    position: absolute;
    top: 50%;
    font-size: 1em;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.beer-items p {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: center;
    color: #2d2727;
}

.beer-items img {
    width: 40px !important;
}

.beer-items h3 {
    margin-bottom: 0;text-transform: uppercase;text-align: center
}

.ui.raised.segment {
    border: 0;
    border-radius: 0;
    box-shadow: 10px 10px 30px 0 rgba(228, 228, 228, 0.5);
    background-color: #fffafa;
}

#footer-social-wrap {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap
}

.beer-picker:not(.active){
    transform: scale(0.8);
    /*-webkit-transition: scale 0.3s ease-out;*/
    /*-moz-transition: scale 0.3s ease-out;*/
    /*-o-transition: scale 0.3s ease-out;*/
    /*transition: scale 0.3s ease-out;*/
}


@media screen and (max-width: 767px){
    #footer-social-wrap {
        justify-content: space-between;
    }
    .ui.fluid.container {
        margin: 0 !important;
    }
}
