<div class="ui container" style="padding: 3em 0;height: auto !important;">
    <div class="ui stackable grid" style="color:#fff;">
        {% for loc in locations.locations.all() %}
        <div class="four wide column" style="text-align: left">
            <h6 style="text-transform: uppercase">{{loc.locationName}}</h6>
            <p style="font-weight: normal;font-size: 16px;">
                {{loc.locationAddress}}
                <br>
                {{loc.locationCity}}, {{loc.locationState}} {{loc.locationZip}}
            </p>
            <p style="font-weight: normal;font-size: 16px;">
                <a target="_blank" href="{{loc.directionUrl}}" style="color:white !important;"><i class="white map marker alternate icon"></i> Directions</a>
            </p>
            <p style="font-weight: normal;font-size: 16px;"><i class="white phone icon"></i> {{loc.locationPhoneNumber}}</p>
        </div>
        {% endfor %}
        <div class="eight wide column" >
            <div class="ui stackable doubling four column grid">
                <div class="column">
                    <span>
                         <a href="{{ alias('@web')}}/culture" style="text-transform: uppercase;color:#cfcfcf">culture</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/craft-beer" style="text-transform: uppercase;color:#cfcfcf">craft beer</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/request" style="text-transform: uppercase;color:#cfcfcf">request tap or cans</a>
                    </span>
                </div>
                <!--<div>-->
                <!--<span>-->
                <!--<a href="{{ alias('@web')}}/events" style="text-transform: uppercase;color:#cfcfcf">events</a>-->
                <!--</span>-->
                <!--</div>-->
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/spirits" style="text-transform: uppercase;color:#cfcfcf">spirits</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="https://santantours.com/?page_id=3432" style="text-transform: uppercase;color:#cfcfcf">order keg</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/careers" style="text-transform: uppercase;color:#cfcfcf">careers</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/eateries" style="text-transform: uppercase;color:#cfcfcf">eateries</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/donation-request" style="text-transform: uppercase;color:#cfcfcf">DONATION REQUEST</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/connect" style="text-transform: uppercase;color:#cfcfcf">connect</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/catering" style="text-transform: uppercase;color:#cfcfcf">catering</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="{{ alias('@web')}}/catering-forms/in-our-chandler-or-phoenix-brewers-reserve" style="text-transform: uppercase;color:#cfcfcf">BOOK AN EVENT</a>
                    </span>
                </div>
                <div class="column">
                    <span>
                        <a href="https://onelink.quickgifts.com/merchant/santan-brewing-co/" style="text-transform: uppercase;color:#cfcfcf">GIFT CARDS</a>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="ui grid stackable">
        <div class="four wide column">
            <a href="#subscribe" class="ui button red">
                SUBSCRIBE TO UPDATES
            </a>
        </div>
        <div class="four wide column">
            <a class="ui button red" href="{{alias('@web')}}/beer-finder">
                BEER/SPIRITS FINDER
            </a>
        </div>
        <div class="eight wide column"></div>
    </div>
</div>
<div class="ui fluid container" style="padding: 1em 0;background: #232323;margin-left: 0!important;margin-right: 0!important;">
    <div class="ui container">
        <div id="footer-social-wrap">
            {% for social in social.socialAccounts.all() %}
            <div class="column" style="text-align: left;flex: 0 0 10%;">
                {% if social.socialLogo | length %}
                    {% for asset in social.socialLogo.all() %}
                        <a class="social-link-click" href="{{social.socialUrl}}" target="_blank">
                            {% if social.socialClass == 'none' %}
                                <img src="{{asset.url}}" class="ui mini image" style="top: -2px">
                            {% else %}
                                <i class="{{social.socialClass}} big red icon"></i>
                            {% endif %}
                        </a>
                    {% endfor %}
                {% else %}
                    <span>
                        {{ social.socialName }}
                    </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="ui fluid container" style="background: #232323;margin-left: 0!important;margin-right: 0!important;">

    <div class="ui container" style="padding: 1em 0;">
        <div style="color:#929292;">
            <span>
                © San Tan Brewery  |  All Rights Reserved  |  <a href="{{alias('@web')}}/privacy-policy" style="color:#929292;">Privacy Policy</a>
            </span>
        </div>
    </div>
</div>