<footer style="background-color: #2d2d2d; color:#ee2e24">
    {% include 'globals/footer_content' %}
</footer>
</div>

<script src="{{alias('@web')}}/css/semantic/dist/semantic.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.extensions.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/vendors/scrolloverflow.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/vendors/easings.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/jquery.gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/CSSRulePlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.adaptive-backgrounds/1.0.3/jquery.adaptive-backgrounds.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/background-check/1.2.2/background-check.min.js"></script>
<script src="{{alias('@web')}}/js/range.js"></script>
<script>


    //

    function checkSubs() {
        // store.set('subscriber', "");
        var subscribed = store.get('subscriber');
        if (subscribed === "set") {
            $("#subscribe-modal").find(".container").html("<h4>Thank you for subscribing to Santan Brewery!</h4>");
        }
    }


    $(document).ready(function() {
        var user = store.get('user');

        if (user !== "set") {
            $("#age-verification").modal('show');
        }
        checkSubs();


        var menuMobileToggle = true;
        console.log('menuMobile', menuMobileToggle);

        $("#open-mobile-nav").on("click tap touchstart", function(e){
           e.preventDefault();
            $('.ui.sidebar')
                .sidebar('toggle')
            ;
        });

        // $("#open-mobile-nav").on('touchend', function(e){
        //     // alert('touchend', e);
        //     e.preventDefault();
        //     console.log('menuMobile1', menuMobileToggle);
        //     if(menuMobileToggle != true){
        //         $('.ui.sidebar')
        //             .sidebar('toggle')
        //         ;
        //     }
        // }).on('touchmove', function(e){
        //     // alert('touchmove', e);
        //     console.log('menuMobile2', menuMobileToggle);
        //     menuMobileToggle = true;
        // }).on('touchstart', function(e){
        //     // alert('touchstart', e);
        //     console.log('menuMobile3', menuMobileToggle);
        //     menuMobileToggle = false;
        // });

    });

    $("#age-verify-yes").on("click", function(){
        store.set('user', "set");
        $("#age-verification").modal('hide');
    });

    $("a[href='#subscribe']").on("click tap touchstart", function(){
        $("#subscribe-modal").modal("show");
    });

    $("#final-subscribe").on("click tap touchstart", function(){
        var form = $("#subscribe-modal").find('form');
        var email = form.find('input[name=email]').val();
        window.open('http://santanbrewing.fbmta.com/members/UpdateProfile.aspx?emailaddress='+email, '_blank');
        // $.post('http://35.166.28.234/api.php', form, function(data){
        //     store.set('subscriber', "set");
        //     checkSubs();
        // });
    });






</script>

</body>
</html>