{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

<div class="ui fluid container" style="min-height: 80%;display: flex;flex-direction: column;justify-content: space-evenly;background: url('{{alias('@web')}}/assets/globalImages/a65_DSC08011.jpg') no-repeat;background-position: center;background-size:cover;">
    <div class="ui container" style="color: white;text-align: center;text-shadow:8px 6px 24px rgba(0,0,0,0.6)">
        <h1 style="font-size:15em !important">404</h1>
        <div>
            <h3 style="font-size: 24px;">PAGE NOT FOUND</h3>
            <p style="font-size: 18px;">The page you’re looking for doesn’t exist.</p>
        </div>
    </div>
</div>

{% include 'globals/footer' %}