{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

<style>
    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        padding-right: 5px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
    }
    .ui.form .field>label {
        font-size: 12px;
        font-weight: 400;
    }

    .Rectangle-2 {
        background-color: #e9e5e5;
    }

    .main-row.active-row {
        box-shadow: 0px 18px 25px -10px rgba(0,0,0,0.1);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .second-row.active-row {
        margin-bottom: 1em;
    }

    .ui.range .inner .thumb {
        height: unset;
        width: unset;
        border-radius: 5px;
    }

    .ui.label.thumb {
        line-height: 0.8 !important;
    }

    .table thead th, .table thead td {
        color: #988585 !important;
    }

    .ui.grey.label, .ui.grey.labels .label {
        background-color: #b9b9b9!important;
        border-color: #b9b9b9!important;
        color: #fff!important;
        border-radius: 3em;
    }

    .ui.loading.segment:before {
        background: rgb(233, 229, 229) !important;
    }

    .ui.text.menu .global-nav .item {
        color: #fff;
    }

</style>


<div class="ui fluid container" style="background-color: #222222">
    <div class="ui inverted segment" style="padding-top: 10em; padding-bottom: 5em;">
        <h2 style="text-align: center">FIND SANTAN CRAFT BEER & SPIRITS</h2>
        <div class="ui container">
            <div class="ui inverted form">
                <div class="fields">
                    <div class="four wide field">
                        <label style="text-align: left;text-transform: uppercase">Product Name</label>
                        <select class="ui fluid search dropdown" multiple="" id="brand">
                            <option value="">All beers and spirits...</option>
                            {% set beers = craft.entries.section('beer').all() %}
                            {% for beer in beers %}
                            <option value="{{beer.title | upper}}">{{beer.title}}</option>
                            {% endfor %}
                            {% set beers = craft.entries.section('spiritsChannel').all() %}
                            {% for beer in beers %}
                            <option value="{{beer.title | upper}}">{{beer.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="four wide field">
                        <label style="text-align: left;text-transform: uppercase">Type of Business</label>
                        <select class="ui fluid search dropdown" id="storeType" style="text-overflow: ellipsis;font-size: 12px;">
                            <option selected value="off">All Restaurants and Retailers</option>
                            <option value="32,24,28,26">Restaurants</option>
                            <option value="01,02,08,09,10">Retailers</option>
                        </select>
                    </div>
                    <div class="three wide field">
                        <label style="text-align: left;text-transform: uppercase">Location</label>
                        <input class="autorun" type="text" id="locationField" value="85225">
                    </div>
                    <div class="three wide field">
                        <label style="text-align: left;text-transform: uppercase">Distance</label>
                        <div class="ui segment" style="padding: 0.67857143em 1em;margin-top: 0;border: 0;">
                            <div class="ui range" id="range-1"></div>
                        </div>
                    </div>
                    <div class="two wide field" style="justify-content: flex-end;display: flex;flex-direction: column;">
                        <button class="ui button fluid red" id="search-button" type="button">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui fluid container" id="map" style="padding: 15em 0;">

</div>

<div class="ui fluid container Rectangle-2" style="padding: 1em">
    <div class="ui container">
        <div class="ui stackable grid map-results" style="margin-top: 5em">
            <!--<div class="row main-row" data-restaurant="rest01" style="background-color: transparent !important;">-->
                <!--<div class="five wide column">-->
                    <!--<h6>-->
                        <!--<a class="ui grey circular label" style="margin-right: 1em">1</a>-->
                        <!--Safeway-->
                    <!--</h6>-->
                    <!--<div class="tags" style="display:none;">-->
                        <!--<span class="ui grey label">BAR</span>-->
                        <!--<span class="ui grey label">STORE</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="five wide column">-->
                    <!--<span>811 Mallory Radial, Chandler, AZ, 85248</span>-->
                <!--</div>-->
                <!--<div class="six wide column">-->
                    <!--<div style="text-align: right">-->
                        <!--<span style="margin-right: 1em">0.3 mi</span>-->
                        <!--<span class="view-more" data-restaurant="rest01"><i class="ellipsis horizontal icon"></i></span>-->
                        <!--<span class="close-more text red" data-restaurant="rest01" style="display:none;"><i class="arrow alternate circle up outline icon"></i></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row second-row" data-restaurant="rest01" style="display:none;">-->

            <!--</div>-->
            <!--<div class="row main-row" data-restaurant="rest02" style="background-color: transparent !important;">-->
                <!--<div class="five wide column">-->
                    <!--<h6>-->
                        <!--<a class="ui grey circular label" style="margin-right: 1em">2</a>-->
                        <!--Holiday Inn-->
                    <!--</h6>-->
                    <!--<div class="tags" style="display:none;">-->
                        <!--<span class="ui grey label">BAR</span>-->
                        <!--<span class="ui grey label">STORE</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="five wide column">-->
                    <!--<span>811 Mallory Radial, Chandler, AZ, 85248</span>-->
                <!--</div>-->
                <!--<div class="six wide column">-->
                    <!--<div style="text-align: right">-->
                        <!--<span style="margin-right: 1em">0.3 mi</span>-->
                        <!--<span class="view-more" data-restaurant="rest02"><i class="ellipsis horizontal icon"></i></span>-->
                        <!--<span class="close-more text red" data-restaurant="rest02" style="display:none;"><i class="arrow alternate circle up outline icon"></i></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row second-row" data-restaurant="rest02" style="display:none;">-->

            <!--</div>-->
            <!--<div class="row main-row" data-restaurant="rest03" style="background-color: transparent !important;">-->
                <!--<div class="five wide column">-->
                    <!--<h6>-->
                        <!--<a class="ui grey circular label" style="margin-right: 1em">3</a>-->
                        <!--Taste of Tops-->
                    <!--</h6>-->
                    <!--<div class="tags" style="display:none;">-->
                        <!--<span class="ui grey label">BAR</span>-->
                        <!--<span class="ui grey label">STORE</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="five wide column">-->
                    <!--<span>811 Mallory Radial, Chandler, AZ, 85248</span>-->
                <!--</div>-->
                <!--<div class="six wide column">-->
                    <!--<div style="text-align: right">-->
                        <!--<span style="margin-right: 1em">0.3 mi</span>-->
                        <!--<span class="view-more" data-restaurant="rest03"><i class="ellipsis horizontal icon"></i></span>-->
                        <!--<span class="close-more text red" data-restaurant="rest03" style="display:none;"><i class="arrow alternate circle up outline icon"></i></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row second-row" data-restaurant="rest03" style="display:none;">-->

            <!--</div>-->
        </div>
    </div>
    <div class="ui container" id="page-navigation">
        <div class="ui three column center aligned grid">
            <div class="column">
                <button id="prev-page" data-page-number="0" class="ui disabled red button">PREV PAGE</button>
            </div>
            <div class="column" id="page_blank_of_blank" style="align-self: center">

            </div>
            <div class="column">
                <button id="next-page" data-page-number="1" class="ui disabled red button">NEXT PAGE</button>
            </div>
        </div>
    </div>
</div>


{% set entry = craft.entries.section('beerFinder').one() %}
{% if entry.groupItems | length %}
<div class="ui container" style="padding: 5em;">
    <div class="ui equal width center aligned stackable grid">
        {% for block in entry.groupItems.all() %}
            <div class="column" style="max-width: 350px; ">
                <div class="ui medium-height image">
                    {% for asset in block.itemAsset.all() %}
                        <img src="{{asset.url}}" class="ui medium-height image">
                    {% endfor %}
                </div>
                <h4 style="text-transform: uppercase">{{block.itemTitle | raw}}</h4>
                <p>{{block.itemDescription}}</p>
                {% for row in block.itemCta %}
                    <a href="{{row.ctaUrl}}" class="red" style="color:{{colors.primaryColor}}; text-transform: uppercase">{{row.ctaText}} <i class="arrow alternate circle right outline red icon"></i></a>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
</div>

{% endif %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUIpMZf4eNwvd3r4rlDsbhQgNfwUh8rJ0&libraries=places,geometry"></script>


<script>


    window.map;
    window.geocoder;
    window.main_lat = 33.3031185;
    window.main_lng = -111.8430283;

    var pageNumber = 0;
    var totalPages = 1;

    var myRangeValue = 10;

    var markers = [];
    var places = [];

    var styledMap = new google.maps.StyledMapType([
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#444444"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#ee2e24"
                },
                {
                    "visibility": "on"
                },
                {
                    "saturation": "84"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "saturation": "-25"
                },
                {
                    "lightness": "-66"
                },
                {
                    "color": "#9d9c9c"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#f2f2f2"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#c7c7c7"
                },
                {
                    "visibility": "on"
                }
            ]
        }
    ]);

    function ZoomControl(controlDiv, map) {

        // Creating divs & styles for custom zoom control
        controlDiv.style.padding = '5px';
        controlDiv.style.paddingBottom = '2em';

        // Set CSS for the control wrapper
        var controlWrapper = document.createElement('div');
        controlWrapper.className = 'btn-shadow';
        controlWrapper.style.backgroundColor = 'white';
        controlWrapper.style.borderRadius = '2em';
        controlWrapper.style.cursor = 'pointer';
        controlWrapper.style.textAlign = 'center';
        controlWrapper.style.width = '32px';
        controlWrapper.style.height = '64px';
        controlDiv.appendChild(controlWrapper);

        // Set CSS for the zoomIn
        var zoomInButton = document.createElement('div');
        zoomInButton.style.width = '32px';
        zoomInButton.style.height = '32px';
        zoomInButton.style.margin = '0 auto';
        zoomInButton.style.padding = '0.5em 0';
        /* Change this to be the .png image you want to use */
        zoomInButton.innerHTML = '<img style="width:22px;height:22px" src="{{alias("@web")}}/assets/globalImages/plus.svg">';
        controlWrapper.appendChild(zoomInButton);

        // Set CSS for the zoomOut
        var zoomOutButton = document.createElement('div');
        zoomOutButton.style.width = '32px';
        zoomOutButton.style.height = '32px';
        zoomOutButton.style.margin = '0 auto';
        zoomOutButton.style.padding = '0.5em 0';
        /* Change this to be the .png image you want to use */
        zoomOutButton.innerHTML = '<img style="width:22px;height:22px" src="{{alias("@web")}}/assets/globalImages/minus.svg">';
        controlWrapper.appendChild(zoomOutButton);

        // Setup the click event listener - zoomIn
        google.maps.event.addDomListener(zoomInButton, 'click', function() {
            map.setZoom(map.getZoom() + 1);
            console.log('zooms', map.getZoom());
        });

        // Setup the click event listener - zoomOut
        google.maps.event.addDomListener(zoomOutButton, 'click', function() {
            map.setZoom(map.getZoom() - 1);
            console.log('zooms', map.getZoom());
        });



    }


    function initMap() {

        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: main_lat, lng: main_lng},
            zoom: 13,
            mapTypeControlOptions: {
                mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
            },
            // zoomControl: true,
            // mapTypeControl: false,
            // scaleControl: true,
            // streetViewControl: false,
            // rotateControl: false,
            // fullscreenControl: false,
            disableDefaultUI: true
        });

        map.mapTypes.set('styled_map', styledMap);
        map.setMapTypeId('styled_map');
        // Create the DIV to hold the control and call the ZoomControl() constructor
        // passing in this DIV.
        var zoomControlDiv = document.createElement('div');
        var zoomControl = new ZoomControl(zoomControlDiv, map);

        zoomControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(zoomControlDiv);
        window.map = map;
    }

    function isEquivalent(a, b) {
        // Create arrays of property names
        var aProps = Object.getOwnPropertyNames(a);
        var bProps = Object.getOwnPropertyNames(b);

        // If number of properties is different,
        // objects are not equivalent
        if (aProps.length != bProps.length) {
            return false;
        }

        for (var i = 0; i < aProps.length; i++) {
            var propName = aProps[i];

            // If values of same property are not equal,
            // objects are not equivalent
            if (a[propName] !== b[propName]) {
                return false;
            }
        }

        // If we made it this far, objects
        // are considered equivalent
        return true;
    }


    function titleCase(str) {
        str = str.toLowerCase().split(' ');
        for (var i = 0; i < str.length; i++) {
            str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
        }
        return str.join(' ');
    }

    function findPlaces(place) {

        var placeID = place.id;

        var imgMe = $(document).find("div.img-me[data-restaurant="+placeID+"]");

        if (imgMe.is(':empty')) {
            var request = {
                query: place.name,
                fields: ['photo', 'formatted_address', 'name', 'geometry', 'type', 'place_id'],
                locationBias: place.location
            };

            service = new google.maps.places.PlacesService(map);
            service.findPlaceFromQuery(request, callback);

            function callback(results, status) {
                console.log(status, results, placeID);
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                        var place = results[i];
                        var realPlaceID = results[i]['place_id'];
                        var photos = place.photos;
                        if (!photos) {
                            return;
                        }

                        console.log(realPlaceID);

                        $(document).find("div.main-row[data-restaurant="+placeID+"] div.directions").html("<a class='text red' href='https://www.google.com/maps/dir/?api=1&destination="+place.name+"&destination_place_id="+realPlaceID+"' target='_blank'><strong>Directions</strong></a>");

                        for (var t = 0; t < 2; t++) {
                            var type = results[i]['types'][t];
                            type = type.toUpperCase().replace("_", " ");
                            $(document).find("div.main-row[data-restaurant="+placeID+"] div.tags").append("<span class=\"ui grey label\">"+type+"</span>");
                        }

                        // console.log('place', place);
                        // createMarker(results[i]);
                        var img = photos[0].getUrl();
                        console.log(img);
                        $(document).find("div.img-me[data-restaurant="+placeID+"]").html("<img src='"+img+"' class='ui image rounded btn-shadow'>");
                        $(document).find("div.main-row[data-restaurant="+placeID+"] div.loading.segment").removeClass('loading');
                    }
                }
            }
        }

        var contentString = '<div id="content" style="text-align: center">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h5 id="firstHeading" class="firstHeading">'+place.name+'</h5>'+
            '<div id="bodyContent">'+
            '<p>'+place.address+'</p>'+
            '<p></p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });


        $.each(markers, function(i,obj) {
            console.log(obj.label, place.label);
            if (obj.label == place.label) {
                infowindow.open(map, obj);
            }
        });


        map.setCenter(place.location);


    }

    $(document).ready(function() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {

                // Get the coordinates of the current possition.
                window.main_lat = position.coords.latitude;
                window.main_lng = position.coords.longitude;
                console.log(main_lat,main_lng);

                geocoder.geocode( { 'location': {lat:main_lat, lng:main_lng}}, function(results, status) {
                    if (status == 'OK') {
                        console.log(results[0]);

                        var postal_code = '';
                        $.each(results[0]['address_components'], function(i,obj) {
                            if ($.inArray('postal_code', obj['types']) !== -1) {
                                postal_code = obj['long_name'];
                            }
                        });

                        $("#locationField").val(postal_code);
                        map.setCenter(results[0].geometry.location);
                        getAJAX();

                    }
                });

                // initMap();

            });
        }

        initMap();

        // geocoder.geocode( { 'address': '85248'}, function(results, status) {
        //     if (status == 'OK') {
        //         map.setCenter(results[0].geometry.location);
        //         var marker = new google.maps.Marker({
        //             map: map,
        //             position: results[0].geometry.location
        //         });
        //     } else {
        //         alert('Geocode was not successful for the following reason: ' + status);
        //     }
        // });

        $("#search-button").on("click tap touchstart", function(e){
            e.preventDefault();
            $(this).addClass('loading');
            pageNumber = 0;
            getAJAX();
        });

        $("#next-page").on("click tap touchstart", function(e){
            e.preventDefault();
            $(this).addClass('loading');
            pageNumber = $(this).attr('data-page-number');
            getAJAX();
        });

        $("#prev-page").on("click tap touchstart", function(e){
            e.preventDefault();
            $(this).addClass('loading');
            pageNumber = $(this).attr('data-page-number');
            getAJAX();
        });


        $('.ui.dropdown').dropdown();

        $('#range-1').range({
            min: 10,
            max: 50,
            step:10,
            start: 10,
            onChange: function(val) {
                console.log(val);


                if (val == 10) {
                    window.map.setZoom(14);
                } else if (val == 20) {
                    window.map.setZoom(13);
                } else if (val == 30) {
                    window.map.setZoom(12);
                } else if (val == 40) {
                    window.map.setZoom(11);
                } else if (val == 50) {
                    window.map.setZoom(10);
                }

                myRangeValue = val;
                $("#range-1").find(".thumb").html(val+" mi");



                // getAJAX();
            }
        });

        function closeAll() {
            var results = $('.map-results');
            results.find('.main-row').each(function(i,obj){
              $(obj).removeClass('active-row text red');
              $(obj).find('.tags').hide();
              $(obj).find('.directions').hide();
              $(obj).find(".inner-row").hide();
            });
            results.find('.second-row').each(function(i,obj){
              $(obj).hide().removeClass('active-row');
            });
        }

        $(document).on('click', ".view-more", function(){
            closeAll();
           var row = $(this).attr("data-restaurant");
           $(this).hide().siblings().show();
           var mainRow = $(document).find('.main-row[data-restaurant='+row+']');
           console.log(row, mainRow.className);
           mainRow.addClass('active-row text red');
           mainRow.find('.tags').show();
           mainRow.find('.directions').show();
           mainRow.find('.inner-row').show();
           $(document).find('.second-row[data-restaurant='+row+']').addClass('active-row').show();
           findPlaces(places[row]);
        });

        $(document).on("click", '.close-more', function(){
            closeAll();
            $(this).hide().siblings().show();
        });


        // $(".autorun").on("input", getAJAX);




        function getAJAX() {

            var brands = "off";
            var zip = $("#locationField").val();


            if ($("#brand").dropdown('get value') !== "") {
                brands = $("#brand").dropdown('get value').join(",");
                punctuationless = brands.replace(/[.\/#!$%\^&\*;:{}=\-_`'~()]/g,"");
                brands = punctuationless.replace(/\s{2,}/g,"");
            }

            var storeType = $("#storeType").dropdown('get value');

            console.log(storeType);

            var settings = {
                "async": true,
                // "crossDomain": true,
                "url": "/actions/business-logic/example/vip-ajax",
                "method": "POST",
                "data": {
                    
                    "zip":zip,
                    "storeType": storeType,
                    "brands": brands,
                    "miles": myRangeValue,
                    "page": pageNumber,
                }
            };

            $.ajax(settings).done(function (response) {
                // console.log(response);
                // var data = $.parseJSON(response);
                $("#search-button").removeClass('loading');
                $("#next-page").removeClass('loading');
                $("#prev-page").removeClass('loading');
                var data = response;

                $.each(markers, function(i,obj) {
                    obj.setMap(null);
                });

                markers = [];
                places = [];
                var total = 0;

                if (response !== null) {
                    total = data['general']['total'];
                }

                $("#page_blank_of_blank").html("<p>Page "+data['general']['page']+" of "+data['general']['totalPages']+"</p>");
                var page = data['general']['page']-1;

                if (data['general']['totalPages'] > 1) {

                    var nextBtn = $("#next-page");
                    var prevBtn = $("#prev-page");
                    nextBtn.attr('data-page-number', page+1);
                    prevBtn.attr('data-page-number', page-1);
                    if (data['general']['page'] == data['general']['totalPages']) {
                        nextBtn.addClass('disabled');
                    } else {
                        nextBtn.removeClass('disabled');
                    }

                    if (data['general']['page'] == 1) {
                        prevBtn.addClass('disabled');
                    } else {
                        prevBtn.removeClass('disabled');
                    }

                }

                $(".map-results").html("<div class='ui container'><p style='text-align: center'>"+total+" distributors found within "+data['general']['miles']+" miles of "+$("#locationField").val()+"</p></div>");

                var c = document.createDocumentFragment();
                var index = 1;
                $.each(data['results'], function(i,obj) {
                    console.log(obj);
                    $.each(obj, function(ind, rest) {
                        var mainRow = document.createElement("div");
                        mainRow.className = "row main-row";

                        var secondRow = document.createElement("div");
                        secondRow.className = "row second-row";

                        var attr = document.createAttribute("data-restaurant");
                        attr.value = "rest"+index;
                        mainRow.setAttributeNode(attr);

                        var second_attr = document.createAttribute("data-restaurant");
                        second_attr.value = "rest"+index;
                        secondRow.setAttributeNode(second_attr);

                        var att = document.createAttribute("style");
                        att.value = "background-color:transparent!important";
                        mainRow.setAttributeNode(att);

                        var second_att = document.createAttribute("style");
                        second_att.value = "display:none";
                        secondRow.setAttributeNode(second_att);

                        mainRow.innerHTML = "<div class='one wide column'><h6><a class=\"ui grey circular label\" style=\"margin-right: 1em\">"+index+"</a></div>";
                        mainRow.innerHTML += "<div class='four wide column'><h6>"+titleCase(rest.name)+"</h6> <div class=\"tags\" style=\"display:none;\"></div></div>";
                        mainRow.innerHTML += "<div class='five wide column'><p style='margin-bottom: 0.8em'>"+titleCase(rest.street)+"</p><div class='directions' style='display:none;'></div></div>";
                        mainRow.innerHTML += "<div class='six wide column'><div style='text-align: right'><span style=\"margin-right: 1em\">"+rest.distance+" mi</span><span class=\"view-more\" data-restaurant='rest"+index+"'><i class=\"ellipsis horizontal icon\"></i></span><span class=\"close-more text red\" data-restaurant='rest"+index+"' style=\"display:none;\"><i class=\"arrow alternate circle up outline icon\"></i></span></div></div>";

                        var innerRow = document.createElement("div");
                        innerRow.className = "sixteen wide column inner-row";

                        var restData = document.createAttribute("data-restaurant");
                        restData.value = "rest"+index;
                        innerRow.setAttributeNode(restData);

                        var styletwo = document.createAttribute("style");
                        styletwo.value = "display:none";
                        innerRow.setAttributeNode(styletwo);

                        var grid = document.createElement("div");
                        grid.className = "ui grid very basic loading segment";
                        var style = document.createAttribute("style");
                        style.value = "margin:1em 0;";
                        grid.setAttributeNode(style);

                        grid.innerHTML = "<div class='five wide column'><div class='img-me' data-restaurant='rest"+index+"'></div></div>";

                        var table = document.createElement("table");
                        table.className = "ui very basic collapsing table";

                        var tableStyle = document.createAttribute("style");
                        tableStyle.value = "    width: 100%;border: 0;";
                        table.setAttributeNode(tableStyle);


                        var productsCount = rest.brands.length;
                        $.each(rest.brands, function(inde, brand) {
                           var row = table.insertRow(inde);
                           var cell1 = row.insertCell(0);
                           var cell2 = row.insertCell(1);
                           cell1.innerHTML = "<b>"+brand+"</b>";
                        });

                        var productsAvail = "Products Available";
                        if (productsCount == 1) {
                            productsAvail = "Product Available";
                        }

                        var header = table.createTHead();
                        // Create an empty <tr> element and add it to the first position of <thead>:
                        var headerRow = header.insertRow(0);
                        headerRow.innerHTML = "<th>"+productsCount+" "+productsAvail+"</th>";

                        var elevenWidth = document.createElement("div");
                        elevenWidth.className = "eleven wide column";
                        elevenWidth.appendChild(table);
                        grid.appendChild(elevenWidth);

                        innerRow.appendChild(grid);
                        mainRow.appendChild(innerRow);

                        c.appendChild(mainRow);
                        c.appendChild(secondRow);


                        var lat = parseFloat(rest.lat);
                        var lng = parseFloat(rest.long);

                        console.log(lat, rest.long);
                        var myLatLng = {lat: lat, lng: lng};

                        places["rest"+index] = {
                            name: rest.name,
                            id: "rest"+index,
                            label: index.toString(),
                            location: myLatLng,
                            address: titleCase(rest.street) + ", "+titleCase(rest.city)+" "+titleCase(rest.state)+", "+titleCase(rest.zip)
                        };

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            label: index.toString(),
                            title: titleCase(rest.name)
                        });

                        if(marker.getMap()){
                            console.log('true',  marker);
                            marker.setMap(null);
                        }
                        else{
                            console.log('false', marker);
                            marker.setMap(map);
                        }

                        markers.push(marker);

                        // console.log('myMarker', map);
                        index++;

                    });

                });

                $('.map-results').append(c);

                geocoder.geocode( { 'address': zip}, function(results, status) {
                    if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);

                    }
                });

            // <div class="row main-row" data-restaurant="rest01" style="background-color: transparent !important;">
        //         <div class="five wide column">
            //         <h6>
                //         <a class="ui grey circular label" style="margin-right: 1em">1</a>
                    //     Safeway
                //     </h6>
                //     <div class="tags" style="display:none;">
                //         <span class="ui grey label">BAR</span>
                //         <span class="ui grey label">STORE</span>
            //         </div>
        //         </div>
        //         <div class="five wide column">
            //         <span>811 Mallory Radial, Chandler, AZ, 85248</span>
            //     </div>
            //     <div class="six wide column">
            //         <div style="text-align: right">
                //         <span style="margin-right: 1em">0.3 mi</span>
                    //     <span class="view-more" data-restaurant="rest01"><i class="ellipsis horizontal icon"></i></span>
                    //     <span class="close-more text red" data-restaurant="rest01" style="display:none;"><i class="arrow alternate circle up outline icon"></i></span>
                //     </div>
            //     </div>
            //     </div>
            //     <div class="row second-row" data-restaurant="rest01" style="display:none;">
            //
            //         </div>

                // var items = data.getElementsByTagName('location');
                // var item, title, desc, thumb, swf, i, l;
                // for(i = 0, l < items.length; i < l; i++){
                //     console.log(items[i])
                // }

                console.log(response);
            });
        }




    });

</script>

{% include 'globals/footer' %}