{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .section {
        min-height:100vh;
        display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100%;
        width: 100%;
        position: relative;
    }

    .section-slideshow {
        position: relative;
        overflow: hidden;
        height: 100%;
        /* left: 0; */
        /* width: 100%; */
        /* top: 0; */
        z-index: -1;
    }
    .section-images {
        position: absolute;
        z-index: -1;
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 300%;
        animation: slideshow 35s linear infinite;
    }

    a,span,p {
        font-size: 16px;
    }

    .section-images img {
        border: 1rem solid transparent;
        width: auto;
        height: 100%;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -200%; }
    }

    .the-footer, .the-footer .fp-tableCell {
        height: auto !important;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #f12b15;
        box-shadow: 1px 1px 20px #00000066;
    }

    .ui.fluid.container {
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .meet-the-team {
        opacity: 0.2;
        color: white;
        text-align: center;
        font-size: 45px !important;
        position: relative;
        z-index: 0;
        bottom: -0.4em;
        text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.34);
    }

    #founder-section {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    @media screen and (min-width: 320px) {
        .meet-the-team {
            font-size: calc(45px + 6 * ((100vw - 320px) / 680)) !important;
        }
    }
    @media screen and (min-width: 1000px) {
        .meet-the-team {
            font-size: 160px !important;
        }
    }

    @media screen and (min-width: 1425px) {
        /*#founder-section {*/
        /*background-size: contain;*/
        /*}*/
    }

</style>

{% set bkgnd = '' %}
{% for blocks in entry.pageHero.all() %}
    {% for asset in blocks.backgroundImages %}
        {% set bkgnd = asset.url %}
    {% endfor %}
{% endfor %}

<div class="ui inverted vertical left aligned section segment backgrounds" data-adaptive-background data-ab-css-background style="padding: 5em 0;background-image:url('{{ bkgnd }}');background-position: top !important;min-height: 564px;">
    <div class="ui container" style="margin-top: 10em">
        {% for blocks in entry.pageHero.all() %}
            {% if blocks.smallText | length %}
                <h4>{{blocks.smallText}}</h4>
            {% endif %}

            {% if blocks.heroText | length %}
                <h2 style="max-width: 400px;">{{blocks.heroText}}</h2>
            {% endif %}

            {% if blocks.theHeroCopy | length %}
                <p style="max-width: 400px;">{{blocks.theHeroCopy}}</p>
            {% endif %}

            {% if blocks.buttonText | length %}
                <a href="{{blocks.buttonUrl}}" class="ui {{blocks.buttonColor}} button">{{blocks.buttonText}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if entry.positionsSection | length %}
    <div class="ui vertical left aligned segment backgrounds" style="padding: 5em 0;">

        {% for block in entry.positionsSection.all() %}
        <div class="ui center aligned container" style="margin-bottom: 7em;margin-top: 9em">
            <h2 style="text-transform: uppercase">{{block.theSectionTitle}}</h2>
            <p>
                <a href="{{block.theCtaUrl}}" class="ui {{block.ctaColor}} button">{{block.theCtaText}}</a>
            </p>
        </div>
        {% endfor %}

    </div>

{% endif %}

{% include 'globals/footer' %}