{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}


<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .section-slideshow {
        position: relative;
        overflow: hidden;
        height: 100%;
        /* left: 0; */
        /* width: 100%; */
        /* top: 0; */
        z-index: -1;
    }
    .section-images {
        position: absolute;
        z-index: -1;
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 300%;
        animation: slideshow 35s linear infinite;
    }

    p.endorsement {
        /*width: 342px;*/
        /*height: 167px;*/
        /*font-family: ProximaNova;*/
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: #2d2727;
        /*color: var(--black-three);*/
    }

    .image-column {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
        /*z-index: 5;*/
    }

    .ui.grid>.column:not(.row), .ui.grid>.row>.column {
        padding-left: 0;
        padding-right: 0;
    }

    .section-images img {
        border: 1rem solid transparent;
        width: auto;
        height: 100%;
    }

    .catering-blurb {
        margin-left: 0 !important;
    }

    .back-button div {
        background-blend-mode: lighten;
        background-image: linear-gradient(rgba(255, 250, 250, 0.9), rgba(255, 250, 250, 0.9));

    }

    .catering-blurb .main-blurb {
        background-blend-mode: lighten;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), #ffffff);
        /*width: auto;*/
    }

    .blurb-wrap {
        justify-content: flex-start;
    }

    .ui.grid {
        width: 100% !important;
        margin: 0 !important;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -200%; }
    }

    .the-footer, .the-footer .fp-tableCell {
        height: auto !important;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #f12b15;
        box-shadow: 1px 1px 20px #00000066;
    }

</style>


{% set background='' %}
{% set hero = entry.pageHero %}

{% set title = '' %}
{% set subtitle = '' %}
{% for block in hero %}
	{% if block.type=='smallTitle' %}
		{% set subtitle = block.smallText %}
	{% elseif block.type == 'heroTitle' %}
		{% set title = block.heroText %}
	{% elseif block.type == 'backgroundImage' %}
		{% for asset in block.backgroundImages %}
			{% set background='background-image: url('~asset.url~');background-size: cover;background-repeat: no-repeat;' %}
		{% endfor %}
	{% endif %}

{% endfor %}


<div class="ui fluid container" style="display:flex;flex-direction:column;justify-content:center;{{background}}">
    <div class="ui stackable grid" style="padding: 10em 0;">
        <div class="six wide column" style="    align-self: center;">
            <div style="margin-left: auto;max-width: 375px;">
                <h1 style="text-transform:uppercase;color: white;">{{title}}</h1>
                {% if subtitle %}
                    <p style="color:white;">
                        {{subtitle}}
                    </p>
                {% endif %}
            </div>

        </div>
        <div class="eight wide column" style="margin-left: auto">
            {% for category in craft.categories.group('cateringFormsCats') %}
                <div class="ui inverted orange segment" style="    padding: 2em 4em;background-color:rgba(255,152,0,0.93) !important;">
                    <h3 style="color:white;text-transform: uppercase">{{category.title}}</h3>
                    {% set entries = craft.entries.relatedTo(category).all() %}

                    {% for entry in entries %}
                    <div style="display:flex;flex-wrap: nowrap;align-items: center;    margin: 0 0 0.5em;">
                        <img src="{{alias('@web')}}/assets/globalImages/right_arrow.png" class="ui image" style="margin-right: 1em;">
                        <a href="{{ entry.url }}" style="color: #2d2d2d;"><h6 style="text-transform: uppercase;margin-bottom: 0;">{{ entry.title }}</h6></a>
                    </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>
</div>

{% set cateringFaqs = entry.cateringFaq %}
{% if cateringFaqs|length %}

<div class="ui container" style="margin-bottom: 3em;margin-top: 3em;">
    <div class="ui very padded raised segment">
        <div class="ui stackable grid">
            <div class="four wide column">
                <h4 style="text-transform: uppercase">Frequently Asked Questions</h4>
            </div>

            <div class="twelve wide column">
                {% for row in cateringFaqs %}
                <div class="eight wide column">
                    <h6 style="letter-spacing: normal;color: #ee2e24">{{row.cateringQuestion}}</h6>

                    <p>{{row.cateringAnswer|raw}}</p>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

{% endif %}

{% set back = '' %}
{% for asset in entry.catering_endorsementBackground.all() %}
{% set back = 'background-image:url('~asset.url~');background-size:cover;background-repeat:no-repeat;' %}
{% endfor %}
<div class="ui fluid container" style="display:flex;flex-direction: column;justify-content: center;{{back}}">
    <div class="intro backgrounds" style="padding: 10em 0;">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="five wide column" style="align-self: center">
                    <h2 style="color:white;text-transform: uppercase;    text-shadow: 4px 4px 5px rgba(0,0,0,0.2);">{{entry.catering_endorsementTitle}}</h2>
                    {% if entry.catering_endorsementsSubtitle %}
                    <p>{{entry.catering_endorsementsSubtitle}}</p>
                    {% endif %}
                </div>
                <div class="three wide column"></div>
                <div class="eight wide column">
                    <div class="ui very padded raised segment" style="position:relative;box-shadow: none">
                        <div style="position: absolute; top: 3em;left:-2.5em">
                            <img class="ui image" src="{{alias('@web')}}/assets/globalImages/quotations.svg" style="width: 60px;">
                        </div>
                        {% for row in entry.catering_endorsements %}
                        <div>
                            <p class="endorsement">{{row.endorsementQuote}}</p>
                            <h5 style="text-transform: uppercase">{{row.endorsementAuthor}}</h5>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function(){

        $('.menu .item')
            .tab();

        $('.ui.fluid.dropdown')
            .dropdown();


    });


</script>
{% include 'globals/footer' %}