{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set bkgnd = '' %}
{% for blocks in entry.pageHero.all() %}
    {% for asset in blocks.backgroundImages %}
        {% set bkgnd = asset.url %}
    {% endfor %}
{% endfor %}


<style>
    .insta-p {
        text-align: right;
    }

    @media screen and (max-width: 1024px) {
        .insta-p {
            text-align: left;
        }
    }
</style>

<div class="ui vertical left aligned segment backgrounds" style="padding: 15em 0;background-image:url('{{ bkgnd }}');">
    <div class="ui container">
        {% for blocks in entry.pageHero.all() %}
        {% if blocks.smallText | length %}
        <h4>{{blocks.smallText}}</h4>
        {% endif %}

        {% if blocks.heroText | length %}
        <h1 style="max-width: 380px;">{{blocks.heroText}}</h1>
        {% endif %}

        {% if blocks.theHeroCopy | length %}
        <p style="max-width: 400px;">{{blocks.theHeroCopy}}</p>
        {% endif %}

        {% if blocks.buttonText | length %}
        <button class="ui {{blocks.buttonColor}} button">{{blocks.buttonText}}</button>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="ui container" style="padding: 3em 0;max-width: 800px !important;">
    <div style="display:flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap">
        {% for social in social.socialAccounts.all() %}
        <div class="column" style="text-align: center;flex: 0 0 10%;">
            {% if social.socialLogo | length %}
            {% for asset in social.socialLogo.all() %}
            <a class="social-link-click" href="{{social.socialUrl}}" target="_blank">
                {% if social.socialClass == 'none' %}
                    <img src="{{asset.url}}" class="ui  image" style=" margin: 0 auto;top: -6px">
                {% else %}
                    <i class="{{social.socialClass}} big red icon"></i>
                {% endif %}
            </a>
            {% endfor %}
            {% else %}
            <span>
                        {{ social.socialName }}
                    </span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="ui container" style="padding: 1em 0 3em 0;max-width: 800px !important;">
    <div class="ui equal width stackable grid">
        {% for loc in locations.locations %}
        <div class="column">
            <div style="max-width: 250px;text-align: left;margin: 0 auto;">
                <h4 style="text-transform: uppercase">{{loc.locationName}}</h4>
                <p style="max-width: 220px;">
                    {{loc.locationAddress}}
                    <br>
                    {{loc.locationCity}}, {{loc.locationState}} {{loc.locationZip}}
                </p>
                <p>
                    <a class="red text" target="_blank" href="{{loc.directionUrl}}"><i class="red map marker alternate icon"></i> Directions</a>
                </p>
                <p><i class="red phone icon"></i> {{loc.locationPhoneNumber}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% for section in entry.connectSections%}
    <div class="ui container" style="margin-bottom: 2em">
        <div class="ui very padded raised segment">
            <div class="ui stackable grid">
                <div class="four wide column">
                    <h4 style="text-transform: uppercase">{{section.sectionTitle}}</h4>
                    {% for row in section.sectionMainContact %}
                        <p>
                            <strong>{{row.contactName}}</strong>
                            {% if row.contactTitle | length %}
                                <br>
                                {{row.contactTitle}}
                            {% endif %}
                            {% if row.contactEmail | length %}
                                <br>
                                <a href="mailto:{{row.contactEmail}}" class="text red">{{row.contactEmail}}</a>
                            {% endif %}

                        </p>
                    {% endfor %}
                </div>
                {% for row in section.frequentSectionQuestions %}
                    <div class="six wide column">
                        <h6 style="letter-spacing: normal">{{row.sectionQuestion}}</h6>

                        <p>{{row.sectionAnswer|raw}}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endfor %}



{% for callout in entry.largeImageCallout %}
    <div class="ui fluid container " style="position: relative;margin: 5em 0;">

        <div>
            <div class="ui stackable grid" style="height: auto;">
                <div class="eight wide column" style="max-width: 400px;display: flex;flex-direction: column;justify-content: center;margin-left: auto;margin-right: auto;padding:10em 0;">
                    <div>
                        <h2 style="text-transform: uppercase">{{callout.largeImageCalloutTitle}}</h2>
                        <p style="font-size: 18px;">{{callout.largeImageCalloutDescription}}</p>
                        {% if callout.largeImageCalloutCtaText | length %}
                        <p><a class="text red" href="{{callout.largeImageCalloutCtaUrl}}" style="font-size: 18px;">{{callout.largeImageCalloutCtaText}}</a> </p>
                        {% endif %}
                    </div>
                </div>
                <div class="eight wide column">
                    {% for asset in callout.largeImageCalloutImage.all() %}
                    <img src="{{asset.url}}" class="ui image" style="box-shadow:10px 10px 30px 0px rgba(66, 66, 66, 0.41)">
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

{% endfor %}

{% for callout in entry.textCalloutSection %}
    <div class="ui center aligned container" style="margin-bottom: 7em;margin-top: 9em">
        <h2 style="text-transform: uppercase">{{callout.textCalloutTitle}}</h2>
        <!--<p style="max-width: 490px;margin: 0 auto 1em;font-size: 18px;">{{callout.textCalloutCopy}}</p>-->
        <p>
            <a href="{{callout.textCalloutUrl}}" class="ui {{callout.textCalloutCtaColor}} button">{{callout.textCalloutCtaText}}</a>
        </p>
    </div>
{% endfor %}

<div class="ui container" style="margin-top: 5em;">

    <div class="ui stackable grid" style="align-items: center;margin-bottom: 30px;">
        <div class="eight wide column">
            <h2 style="text-transform: uppercase">SEE WHAT'S BREWING</h2>
        </div>
        <div class="eight wide column insta-p">
            <p style="font-size: 24px">
                <a href="https://instagram.com/santanbrewing" style="text-decoration: none;color:#2d2727"><i class="instagram red icon"></i> #santanbrewing</a>
            </p>
        </div>
    </div>

    <div class="ui grid">
        <div class="sixteen wide computer only column">
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/630219" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:274px"></iframe>
        </div>
        <div class="sixteen wide mobile tablet only column">
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/674097" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height: 450px;"></iframe>
            
        </div>
    </div>
</div>

{% include 'globals/footer' %}