{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

<style>
    .beer-switcher {
        padding: 10em 0 !important;
        background-color: #222222;
        -webkit-transition: background 0.3s ease-out;
        -moz-transition: background 0.3s ease-out;
        -o-transition: background 0.3s ease-out;
        transition: background 0.3s ease-out;
    }

    .ui.small.image {
        width: 120px !important;
    }

    a,span,p {
        font-size: 16px;
    }

    .beer-sliders {
        z-index: 2;
        position: relative;
        /*width: auto;
        max-width:  1000px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);*/
    }

    .beer-slider-descs {
        color: black;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }

    .slick-track {
        width: 100% !important;
        min-width: 100%;
        flex-wrap: nowrap !important;
        display: inline-flex !important;
        flex-direction: row !important;
    }

    .beer-slider .slick-slide {
        padding: 0 6px;
        width: 120px !important;
    }

    .beer-descs .slick-slide {
        width: 100% !important;
        min-width: 100% !important;
    }

    .beer-descs.slick-slider {
        width: 800px;
    }

    .first-container {
        box-shadow: 0 0 10em 1em rgba(0,0,0,0.1);
        margin: -5em 0 5em !important;
    }


    /* USE */

    .smaller.beer-shadow {
        bottom: -30px;
        left: unset;
        margin: auto;
        width: 130px;
    }
    .beer-slider .ui.small.image {
        width: auto !important;
        height: 250px !important;
        min-width: 125px;
    }

    .beer-slider {
        /*transform: translateX(-5%);*/
        display:flex;
        flex-direction: row;
        justify-content: center;
        /*max-width: 1127px;*/
        /*margin: 0 auto!important;*/
        /*width: 110%;*/
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
        /*-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);*/
        /*-ms-overflow-style: none;*/
        /*overflow: -moz-scrollbars-none;*/
        height: calc(150px + 11em);
    }
    .beer-slider::-webkit-scrollbar {
        display: none;
    }

    .beer-desc-wrap {
        display: none !important;
    }

    .beer-desc-wrap.active {
        display: flex !important;
    }


    .beer-picker {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }


    .beer-picker.active .beer-main{
        top: -5px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .beer-picker.active .beer-shadow {
        bottom: -46px !important;
        opacity: 0.5 !important;
        -webkit-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        -moz-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        -o-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    }


    @media screen and (max-width: 1024px) {
        .beer-slider {
            justify-content: space-between !important;
            /*transform: translateX(-5%);
            display:flex;
            flex-direction: row;
            max-width: 1127px;
            margin: 0 auto!important;
            width: 110%;
            height: 300px;
            align-items: center;
            overflow-x: scroll;
            overflow-y: hidden;*/

            -webkit-overflow-scrolling: touch;
            -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
            /*-ms-overflow-style: none;*/
            /*overflow: -moz-scrollbars-none;*/
        }
        .beer-slider::-webkit-scrollbar {
            display: none;
        }
    }

</style>

<div class="ui inverted segment masthead beer-switcher" style="height: auto !important;">
    <div class="ui container" style="margin-bottom: 5em">
        {% set beersTabs = '' %}
        {% set beersSegments = '' %}
        {% set beerTitles = '' %}
        {% set beerSlider = '<div class="beer-sliders"><div class="ui centered grid"><div class="twelve wide column">' %}
        {% set beerDescs = '<div class="beer-slider-descs">' %}
        {% for category in craft.categories.group('beer').all() %}
            {% if category.title == 'Beers' %}
                {% for cat in craft.categories.descendantOf(category).all() %}
                    {% set active = '' %}
                    {% if loop.index == 1 %}
                        {% set active = 'active' %}
                    {% endif %}

                    {% set beersTabs = beersTabs ~ '<a class="item '~ active ~'" data-tab="' ~ cat.slug ~ '" style="color: white;text-transform: uppercase">' ~ cat.title ~ '</a>' %}

                    {% set entries = craft.entries.relatedTo(cat) %}
                    {% set flex = '' %}
                    {% if entries.count() > 5 %}
                        {% set flex = 'justify-content:space-between !important;' %}
                    {% endif %}

                    {% set beerSlider = beerSlider ~ '<div style="display:none;'~flex~'" class="beer-slider ' ~ cat.slug ~ '" data-section="' ~ cat.slug ~ '">' %}

                    {% set beerDescs = beerDescs ~ '<div class="beer-descs beer-desc-slide-' ~ cat.slug ~ '" style="display:none;" data-section="' ~ cat.slug ~ '">' %}
                    {% for beer in entries.all() %}

                        {% set newActive = '' %}
                        {% if loop.index == 1 %}
                        {% set newActive = 'active' %}
                        {% endif %}

                        {% set div = '' %}
                        {% for image in beer.imagery.all() %}
                            {% if image.canAsset | length %}
                                {% for asset in image.canAsset.all() %}
                                    {% set div = '<div style="position: relative;"><img class="smaller beer-shadow" src="'~alias('@web')~'/assets/headerImages/shadow.png"><img class="ui centered small image beer-main" src="'~asset.url~'"></div>' %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% set beerSlider = beerSlider ~ '<div style="    padding: 0 0.5em;" class="beer-picker '~ newActive ~'" data-desc="'~beer.slug~'" data-section="' ~ cat.slug ~ '">' ~ div ~ '</div>' %}
                        {% set beerDescs = beerDescs ~ '<div class="ui stackable grid beer-desc-wrap '~ newActive ~'" data-desc="'~beer.slug~'" data-section="' ~ cat.slug ~ '"><div class="four wide column"><h4 style="text-transform: uppercase">' ~ beer.title ~ '</h4><p>'~beer.subtitle~'</p><a href="'~beer.url~'" style="color:'~colors.primaryColor~'">SEE DETAILS <i class="arrow alternate circle right outline red icon"></i></a></div><div class="twelve wide stretched column"><p>'~beer.smallDescription~'</p></div></div>' %}

                    {% endfor %}
                    {% set beerDescs = beerDescs ~ '</div>' %}

                    {% set beerSlider = beerSlider ~ '</div>' %}

                    {% set back = '' %}
                    {% for asset in cat.categoryBackgroundImage.all() %}
                        {% set back = asset.url %}
                    {% endfor %}

                    {% set beersSegments = beersSegments ~ '<div class="ui bottom tab '~ active ~'" data-background="' ~ back ~ '" data-tab="' ~ cat.slug ~ '"><h1 style="text-transform: uppercase">' ~ cat.title ~ '</h1><p>'~ cat.categoryDescription ~'</p></div>' %}
                    {% set beerTitles = beerTitles ~ '<h1 class="beer-titles" data-title="' ~ cat.slug ~ '" style="text-transform: uppercase;display:none;">' ~ cat.title ~ '</h1>' %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% set beerDescs = beerDescs ~ '</div>' %}
        {% set beerSlider = beerSlider ~ beerDescs ~ '</div></div></div>' %}

        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    {{ beersTabs | raw }}
                </div>
            </div>
            <div class="eight wide stretched column">
                <div class="ui container">
                    <h4>EXPLORE THE BEERS</h4>
                    {{ beersSegments | raw }}
                </div>
            </div>
        </div>
        {{ beerTitles | raw }}

    </div>

    <!--<img src="{{alias('@web')}}/assets/globalImages/ripped-paper-divider.svg" class="page-rip">-->
</div>

<div class="ui container" style="position: relative;top: -10em;">
    {{beerSlider | raw}}
</div>

{% set entry = craft.entries.section('craftBeer').one() %}

{% for segment in entry.graphicItemSection.all() %}

{% set first = '' %}

{% if loop.index == 1 %}
    {% set first = 'first-container' %}
{% endif %}

{% set backGroundes = '' %}
{% for asset in segment.graphicItemSectionFullWidthAsset.all() %}
    {% set backGroundes = 'background:url('~asset.url~');background-size:cover;background-position:center;' %}
{% endfor %}


<div class="ui fluid container {{first}}" style="position: relative;margin: 5em 0;{{backGroundes}}">

    <div>
        <div class="ui stackable grid" style="height: auto;">
            <div class="eight wide column">
                {% if segment.graphicItemSectionMainImage | length %}
                {% for asset in segment.graphicItemSectionMainImage.all() %}
                <img class="ui image" src="{{asset.url}}" style="box-shadow:10px 10px 30px 0px rgba(66, 66, 66, 0.41)">
                {% endfor %}
                {% endif %}
            </div>
            <div class="eight wide column" style="max-width: 400px;display: flex;flex-direction: column;justify-content: center;margin-left: auto;margin-right: auto;padding:10em 0;">
                <div>
                    {% set title = segment.graphicItemSectionTitle|nl2br %}
                    <h2 style="text-transform: uppercase">{{title | raw}}</h2>
                    <p>{{segment.graphicItemSectionDescription}}</p>
                    <a class="ui {{segment.graphicItemSectionCtaColor}} button " href="{{segment.graphicItemSectionCtaUrl}}" style="text-transform: uppercase">
                        <!--<i class="map marker alternate icon"></i>-->
                        {{segment.graphicItemSectionCtaText}}
                    </a>
                </div>
                {% if segment.graphicItemSectionBackgroundImage | length %}
                    {% for asset in segment.graphicItemSectionBackgroundImage.all() %}
                        <img src="{{asset.url}}" class="ui image" style="position: absolute;right: 0;top: 0;">
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endfor %}







{% if entry.groupItems | length %}
    <div class="ui container fluid segment" style="margin:0;">
        <div class="ui container" style="padding:4em 0">
            <div class="ui equal width center aligned stackable grid">
                {% for block in entry.groupItems.all() %}
                    <div class="column" style="max-width: 350px; ">
                        <div class="ui medium-height image">
                            {% for asset in block.itemAsset.all() %}
                                <img src="{{asset.url}}" class="ui medium-height image">
                            {% endfor %}
                        </div>
                        <h4 style="text-transform: uppercase">{{block.itemTitle | raw}}</h4>
                        <p>{{block.itemDescription}}</p>
                        {% for row in block.itemCta %}
                            <a href="{{row.ctaUrl}}" class="red" style="color:{{colors.primaryColor}}; text-transform: uppercase">{{row.ctaText}} <i class="arrow alternate circle right outline red icon"></i></a>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}

<script>
    $(document).ready(function(){

        $('.menu .item')
            .tab({
                onLoad: function(t,p,h) {
                    console.log('inited');
                    var tab = $('.tab[data-tab='+t+']');
                    var beerSlider = $(".beer-slider[data-section="+t+"]");
                    var back = tab.attr('data-background');
                    $(".beer-switcher").css('background-image', 'url('+back+')');
                    $(".beer-titles").hide();
                    $(".beer-slider").hide();
                    $(".beer-descs").hide();

                    $(".beer-titles[data-title="+t+"]").show();
                    $('.beer-sliders').find('.beer-slider[data-section='+t+']').show();
                    $('.beer-descs[data-section='+t+']').show();

                    var height = $('.beer-sliders').find('.beer-slider[data-section='+t+']').outerHeight();
                    console.log('height', height);

                    // $(".first-container").css("margin-top", height+25);

                }
            })
        ;

        var activeTab = $('.tab.active');
        var mainTab = activeTab.attr('data-tab');
        $(".beer-switcher").css('background-image', 'url('+activeTab.attr('data-background')+')');
        $(".beer-titles[data-title="+mainTab+"]").show();
        $('.beer-descs[data-section='+mainTab+']').show();


        $('.beer-sliders').find('.beer-slider[data-section='+mainTab+']').show();

        var height = $('.beer-sliders').find('.beer-slider[data-section='+mainTab+']').outerHeight();
        console.log('height', height);

        // $(".first-container").css("margin-top", height+25);



        $(".beer-picker").on('click', function(e){
            e.preventDefault();
            var that = $(this);
            $(".beer-picker[data-section="+$(this).attr('data-section')+"]").each(function(i,obj){
                $(obj).removeClass('active');
            });

            $(".beer-desc-wrap[data-section="+$(this).attr('data-section')+"]").each(function(i,obj){
                $(obj).removeClass('active');
            });
            that.addClass('active');

            $(".beer-desc-wrap[data-desc="+that.attr('data-desc')+"]").addClass('active');

        });

        var touchmoved;
        $(".beer-picker").on('touchend', function(e){
            // alert('touchend', e);
            e.preventDefault();
            if(touchmoved != true){
                // you're on button click action
                var that = $(this);
                $(".beer-picker[data-section="+$(this).attr('data-section')+"]").each(function(i,obj){
                    $(obj).removeClass('active');
                });

                $(".beer-desc-wrap[data-section="+$(this).attr('data-section')+"]").each(function(i,obj){
                    $(obj).removeClass('active');
                });
                that.addClass('active');

                $(".beer-desc-wrap[data-desc="+that.attr('data-desc')+"]").addClass('active');
            }
        }).on('touchmove', function(e){
            // alert('touchmove', e);
            touchmoved = true;
        }).on('touchstart', function(e){
            // alert('touchstart', e);
            touchmoved = false;
        });

    })
</script>

{% include 'globals/footer' %}