{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}


<style>

    .section {
        min-height:100vh;
        display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100%;
        width: 100%;
        position: relative;
    }

    .section-slideshow {
        position: relative;
        overflow: hidden;
        height: 100%;
        /* left: 0; */
        /* width: 100%; */
        /* top: 0; */
        z-index: -1;
    }
    .section-images {
        position: absolute;
        z-index: -1;
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 300%;
        animation: slideshow 35s linear infinite;
    }

    a,span,p {
        font-size: 16px;
    }

    .section-images img {
        border: 1rem solid transparent;
        width: auto;
        height: 100%;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -200%; }
    }

    .the-footer, .the-footer .fp-tableCell {
        height: auto !important;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #f12b15;
        box-shadow: 1px 1px 20px #00000066;
    }

    .ui.fluid.container {
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .meet-the-team {
        opacity: 0.2;
        color: white;
        text-align: center;
        font-size: 45px !important;
        position: relative;
        z-index: 0;
        bottom: -0.4em;
        text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.34);
    }

    #founder-section {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        /*background-position-x: 83.333% !important;*/
    }

    @media screen and (min-width:768px) {
        .section {
            background-blend-mode: normal !important;
        }
    }


    @media screen and (min-width: 320px) {
        .meet-the-team {
            font-size: calc(45px + 6 * ((100vw - 320px) / 680)) !important;
        }
    }
    @media screen and (min-width: 1000px) {
        .meet-the-team {
            font-size: 160px !important;
        }
    }

    @media screen and (min-width: 1425px) {
        /*#founder-section {*/
            /*background-size: contain;*/
        /*}*/
    }

</style>
<div id="fullpage">
{% set counter = 1 %}

    {% for block in entry.fullPageSections.all() %}

        {% if block.type == 'newStandardSection' %}
            {% set bkgnd = '' %}
            {% for asset in block.fp_standard_background.all() %}
                {% set bkgnd = asset.url %}
            {% endfor %}

            {% set inverted = '' %}
            {% if block.whiteText %}
                {% set inverted = 'inverted' %}
            {% endif %}

            {% set blendmode = '' %}
            {% if block.fp_standard_backgroundBlendMode | length %}
                {% set blendmode = 'background-blend-mode:' ~ block.fp_standard_backgroundBlendMode %}
            {% endif %}

            <div class="section" data-anchor="section{{loop.index}}" style="background: rgba(255, 255, 255, 0.6);background-image:url('{{ bkgnd }}');background-size: cover;background-position: center;{{blendmode}}">
                <div class="intro" style="display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100%;">
                    <div class="ui {{inverted}} vertical left aligned segment" style="background: none">
                        <div class="ui container">
                            <div style="max-width: 550px">


                                {% if block.fp_standard_subtitle | length %}
                                <h4>{{block.fp_standard_subtitle}}</h4>
                                {% endif %}

                                {% if block.fp_standard_title | length %}
                                <h2 style="text-transform: uppercase">{{block.fp_standard_title}}</h2>
                                {% endif %}

                                {% if block.fp_standard_bodyCopy | length %}
                                <p style="max-width: 400px">{{block.fp_standard_bodyCopy}}</p>
                                {% endif %}

                                {% if block.fp_standard_ctaText | length %}
                                <a class="text red" href="{{block.fp_standard_ctaUrl}}">{{block.fp_standard_ctaText}}</a>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            {% set counter = counter+1 %}
        {% elseif block.type == 'newDeluxeSection' %}
            <div class="section" data-anchor="section{{loop.index}}">
                <div class="intro" style="display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100%;">
                    {% set side = 'right' %}
                    {% set opp = 'left' %}
                    {% if block.fp_deluxe_textSide == 'rightSide' %}
                        {% set side = 'left' %}
                        {% set opp = 'right' %}
                    {% endif %}
                    {% set style = '' %}
                    {% if block.fp_deluxe_squareAsset | length %}
                        {% for asset in block.fp_deluxe_squareAsset.all() %}
                            {% set style = 'background-image:url('~asset.url~');background-repeat:no-repeat;background-position:'~side~', center;' %}
                        {% endfor %}
                    {% endif %}

                    <div class="ui vertical left aligned segment" style="filter:drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.15));-webkit-filter:drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.15));background-color: none;">
                        <div class="ui fluid container" style="{{style}}">
                            <div class="ui stackable grid" style="padding: 5% 0;">
                                {% if block.fp_deluxe_textSide == 'rightSide' %}
                                    
                                    <div class="eight wide column" style="padding: 9em 1em !important;margin-left: auto !important;background-color:white !important;position:relative;">
                                        <div style="max-width: 500px;margin: 0 auto">

                                            {% if block.fp_deluxe_title | length %}
                                            <h3 style="font-size: 2em">{{block.fp_deluxe_title}}</h3>
                                            {% endif %}

                                            {% if block.fp_deluxe_bodyCopy | length %}
                                            <p style="max-width: 400px">{{block.fp_deluxe_bodyCopy}}</p>
                                            {% endif %}

                                            {% if block.fp_deluxe_ctaText | length %}
                                            <a class="text red" href="{{block.fp_deluxe_ctaUrl}}">{{block.fp_deluxe_ctaText}}</a>
                                            {% endif %}
                                        </div>
                                        {% for asset in block.rellaxAsset.all() %}
                                            <img src="{{asset.url}}" class="ui small image rellax" style="position: absolute;right: 5%;top:105%;width: 250px;height: auto;font-size: 1rem;" data-rellax-speed="4">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="eight wide column" style="padding: 9em 1em !important;margin-right: auto !important;background-color: white !important;position: relative;">
                                        <div style="max-width: 500px;margin: 0 auto">
                                            {% if block.fp_deluxe_title | length %}
                                            <h3 style="font-size: 2em">{{block.fp_deluxe_title}}</h3>
                                            {% endif %}

                                            {% if block.fp_deluxe_bodyCopy | length %}
                                            <p style="max-width: 400px">{{block.fp_deluxe_bodyCopy}}</p>
                                            {% endif %}

                                            {% if block.fp_deluxe_ctaText | length %}
                                            <a class="text red" href="{{block.fp_deluxe_ctaUrl}}">{{block.fp_deluxe_ctaText}}</a>
                                            {% endif %}
                                        </div>
                                        {% for asset in block.rellaxAsset.all() %}
                                            <img src="{{asset.url}}" class="ui small image rellax" style="position: absolute;right: 5%;bottom:-105%;width: 250px;height: auto;font-size: 1rem;" data-rellax-speed="2">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>


                        </div>

                    </div>

                </div>
            </div>
            {% set counter = counter+1 %}
        {% elseif block.type == 'newSliderSection' %}
            <div class="section " data-anchor="section{{loop.index}}">
                <div class="intro" style="display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100%;position: relative;width: 100%;">

                    <div class="ui inverted vertical left aligned segment" style="background: none;position:relative;z-index: 2;">
                        <div class="ui container">
                            <div style="max-width: 550px;text-shadow: 1px 1px 17px rgba(0,0,0,0.5);">

                                {% if block.fp_slider_subtitle | length %}
                                <h4>{{block.fp_slider_subtitle}}</h4>
                                {% endif %}

                                {% if block.fp_slider_title | length %}
                                <h3 style="font-size: 2em">{{block.fp_slider_title}}</h3>
                                {% endif %}

                                {% if block.fp_slider_copy | length %}
                                <p style="max-width: 400px">{{block.fp_slider_copy}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: absolute;z-index: 1;width: 100%;height: 100%;top: 0;left: 0;">
                    <div class="section-slideshow">
                        <div class="section-images">
                            {% if block.fp_slider_images | length %}
                            {% for asset in block.fp_slider_images.all() %}
                            <img class="ui image" src="{{asset.url}}">
                            {% endfor %}
                            {% for asset in block.fp_slider_images.all() %}
                            <img class="ui image" src="{{asset.url}}">
                            {% endfor %}
                            {% for asset in block.fp_slider_images.all() %}
                            <img class="ui image" src="{{asset.url}}">
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% set counter = counter+1 %}
        {% elseif block.type == 'newFounderSection' %}
            {% set bkgnd = '' %}
            {% for asset in block.fp_founder_backgroundImage.all() %}
                {% set bkgnd = asset.url %}
            {% endfor %}
            {% set fndr = '' %}
            {% for asset in block.fp_founder_headshot.all() %}
                {% set fndr = asset.url %}
            {% endfor %}

            {% set percent = '' %}
            {% if block.fp_founder_backgroundPercentage | length %}
                {% set percent = 'background-position-x: ' ~ block.fp_founder_backgroundPercentage ~ ' !important;' %}
            {% endif %}
            <div class="section " id="founder-section" data-anchor="section{{loop.index}}" style="background-image:url('{{ bkgnd }}');{{percent}}">
                <div class="intro">

                    <div class="ui inverted vertical left aligned segment" style="background-color: transparent !important;background-repeat: no-repeat; background-image:url('{{fndr}}');background-size:auto 70%;background-position:right 110%;display:flex;flex-direction: column;justify-content: flex-end;min-height: 70vh;padding-bottom:6em;height: auto;">
                        <div class="ui container">
                            <div style="max-width: 550px;text-shadow: 1px 1px 17px rgba(0,0,0,0.5);">

                                {% if block.fp_founder_founderName | length %}
                                <h2 style="font-size: 2em;text-transform:uppercase">{{block.fp_founder_founderName}}</h2>
                                {% endif %}

                                {% if block.fp_founder_title | length %}
                                <h4 style="color: #ff9800 !important;">{{block.fp_founder_title}}</h4>
                                {% endif %}

                                {% if block.fp_founder_founderBlurb | length %}
                                <p style="max-width: 400px">{{block.fp_founder_founderBlurb}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    {% set departmentTabs = '' %}
                    {% set departmentTab = '' %}

                    <div class="ui fluid container" style="display:none;"> <!-- WAIT FOR v2 -->
                        <div class="ui inverted segment">
                            <div class="ui container">
                                <h1 class="meet-the-team">MEET THE TEAM</h1>
                            </div>
                            <div class="ui container" style="    position: relative;z-index: 4;">
                                {% for cat in craft.categories.group('departments') %}
                                    {% set active = '' %}
                                    {% if loop.index == 1 %}
                                        {% set active = 'active' %}
                                    {% endif %}

                                    {% set departmentTabs = departmentTabs ~ '<a class="item '~ active ~'" data-tab="' ~ cat.slug ~ '" style="color: white;text-transform: uppercase">' ~ cat.title ~ '</a>' %}

                                    {% set employees = craft.entries.relatedTo(cat).orderBy('employeeName asc') %}

                                    {% set departmentTab = departmentTab ~ '<div style="padding-bottom: 10em;padding-top: 2em" class="ui bottom tab '~ active ~'" data-tab="' ~ cat.slug ~ '">' %}

                                    {% for rows in employees|batch(3) %}
                                        {% set departmentTab = departmentTab ~ '<div class="ui center aligned stackable equal width grid">' %}
                                        {% for employee in rows %}
                                            {% set image = '' %}
                                            {% set rollover = '' %}
                                            {% for asset in employee.headshot.all() %}
                                                {% set image = asset.url %}
                                            {% endfor %}
                                            {% for asset in employee.employeeRollover.all() %}
                                                {% set rollover = asset.url %}
                                            {% endfor %}
                                            {% set div = '<div class="column employee-head" data-roll="' ~ rollover ~ '" data-img="' ~ image ~ '"><img src="' ~ image ~ '" class="ui medium centered image"><h5 style="text-transform: uppercase" data-name="' ~ employee.employeeName ~ '">' ~ employee.employeeName ~ '</h5><p data-fav-brew="' ~ employee.employeeFavoriteBeer ~ '" data-title="' ~ employee.employeeTitle ~ '">' ~ employee.employeeTitle ~ '</p></div>' %}
                                            {% set departmentTab = departmentTab ~ div %}
                                        {% endfor %}
                                        {% set departmentTab = departmentTab ~ '</div>' %}
                                    {% endfor %}

                                    {% set departmentTab = departmentTab ~ '</div>' %}
                                {% endfor %}

                                <div class="ui secondary three item pointing stackable menu">
                                    <!--style="    display: flex;flex-direction: row;justify-content: center;"-->
                                    {{departmentTabs | raw}}
                                </div>


                                {{departmentTab | raw}}
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            {% set counter = counter+1 %}
        {% endif %}

    {% endfor %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.7.0/rellax.min.js"></script>
<script>
    $(document).ready(function(){

        var rellax = new Rellax('.rellax', {
            callback: function(positions) {
                // callback every position change
                // console.log(positions);
            }
        });

        $('.menu .item')
            .tab();

        $(document).find(".employee-head").each(function(i,obj){
            $(obj).hover(function(){
                var roll = $(this).attr('data-roll');
                if (roll !== "") {
                    $(this).find('img').attr('src', roll);
                }

                var favBrew = $(this).find('p').attr('data-fav-brew');
                if (favBrew !== "") {
                    $(this).find('p').html(favBrew);
                    $(this).find('h5').html("FAVORITE BREW");
                }

                // console.log($(this).attr('data-roll'));
            },function() {
                var img = $(this).attr('data-img');
                $(this).find('img').attr('src', img);

                var title = $(this).find('p').attr('data-title');
                if (title !== "") {
                    $(this).find('p').html(title);
                    var h5 = $(this).find('h5');
                    h5.html(h5.attr('data-name'));
                }

                // console.log($(this).attr('data-img'));
            });
        });

        // var myFullpage = new fullpage('#fullpage', {
        //     licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        //     scrollOverflowReset:true,
        //     scrollOverflow:true,
        //     responsiveHeight: 600,
        //     navigation: true,
        //     navigationPosition: 'right',
        //     afterResponsive: function(isResponsive){
        //
        //     }
        // });
    });


</script>
{% include 'globals/footer' %}