{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}
{% set bkgnd = '' %}
{% for asset in entry.categoryBackgroundImage.all() %}
    {% set bkgnd = 'background-image:url('~asset.url~');' %}
{% endfor %}

<style>

    .ui.fluid.container {
        margin: 0 !important;
    }

    .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form textarea, .ui.dropdown {
        border-radius: 6px !important;
        background-color: #e4e4e4 !important;
        border: none !important;
    }

    .ui.dropdown .menu>.item {
        background-color: #e4e4e4;
        border: none;
    }

    .ui.selection.dropdown .menu {
        border: none !important;
    }
</style>

<div class="ui fluid container" style="background-repeat:no-repeat;background-size: cover;{{bkgnd}}">
    <div class="ui stackable grid" style="padding-top: 8em;">
        <div class="seven wide computer sixteen wide tablet column">
            <div class="ui inverted segment" style="background-color: rgba(0, 0, 0, 0.8);">
                <div style="max-width: 450px;margin-left: auto">
                    <h2 style="text-transform: uppercase;text-align: right">
                        DONATION REQUEST
                    </h2>
                </div>
            </div>
            <div class="ui inverted segment" style="background-color: rgba(0, 0, 0, 0.8);max-width: 450px;margin-left: auto">
                <p>{{entry.donationRequestCopy | raw}}</p>
            </div>
        </div>
        <div class="eight wide computer sixteen wide tablet column" style="margin-left: auto;">
            <div class="ui segment" style="padding: 4em 5em;">

                <form class="ui form" id="my-form">
                    <div class="ui stackable grid" style="max-width: 500px;margin:0 auto !important;">
                        <input type="hidden" name="mailto" value="{{entry.formEmailNotifications}}">
                        <input type="hidden" name="formTitle" value="Donation Request">
                        <input type="hidden" name="formType" value="Donation Request">
                        {% for field in entry.cateringFormBuilder %}
                        {% if field.cfb_fieldType == 'textField' %}
                        <div class="{{field.cfb_columnWidth}} column">
                            <div class="field">
                                <input type="text" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                            </div>
                        </div>
                        {% elseif field.cfb_fieldType == 'textArea' %}
                        <div class="{{field.cfb_columnWidth}} column">
                            <div class="field">
                                <textarea name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}"></textarea>
                            </div>
                        </div>
                        {% elseif field.cfb_fieldType == 'datePicker' %}
                        <div class="{{field.cfb_columnWidth}} column">
                            <div class="field">
                                <input type="text" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                            </div>
                        </div>
                        {% elseif field.cfb_fieldType == 'dropdown' %}
                        <div class="{{field.cfb_columnWidth}} column">
                            <div class="field">
                                <select class="ui dropdown" name="{{field.cfb_fieldTitle}}">
                                    <option value="0">{{field.cfb_fieldTitle}}</option>
                                    {% for options in field.cfb_dropdownValues %}
                                    <option value="{{options.optionValue}}">{{options.optionLabel}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="field" id="little-button">
                            <button class="ui red button" id="submit-form" type="button">SUBMIT REQUEST</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function(){

        $('.menu .item')
            .tab();

        $('.ui.dropdown')
            .dropdown();
    });

    $("#submit-form").on("click", function(){
        var button = $(this);
        button.addClass('loading');
        var form = $('#my-form').serialize();
        $.post('/actions/business-logic/example/sendgrid-ajax', form, function(data){
            console.log(data);
            if (data.success === true) {
                button.removeClass('loading');
                $("#little-button").html('Your request has been submitted. Thank you!');
            }
        });
        // button.removeClass('loading');
    });


</script>


{% include 'globals/footer' %}