{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set bkgnd = '' %}
{% for blocks in entry.pageHero.all() %}

{% for asset in blocks.backgroundImages %}
{% set bkgnd = asset.url %}
{% endfor %}
{% endfor %}

<style>

    .tap-menu {
        top:-5em;
        position: relative;
    }
    .food-menu {
        position: relative;
    }

    @media screen and (max-width: 1024px) {
        .tap-menu {
            top: 0;
        }
    }

</style>

<div class="ui inverted vertical left aligned segment" style="padding: 12em 0 5em;background-image:url('{{ bkgnd }}');background-size: cover;background-position: 0 55%;max-height: 700px;height: 80%;display:flex;flex-direction: column;justify-content: center">
    <div class="ui container">
        {% for blocks in entry.pageHero.all() %}
        {% if blocks.smallText | length %}
        <h4 style="text-transform: uppercase">{{blocks.smallText}}</h4>
        {% endif %}

        {% if blocks.heroText | length %}
            {% set heroHero = blocks.heroText|nl2br %}
            <h2 style="max-width: 550px;text-transform: uppercase">{{heroHero|raw}}</h2>
        {% endif %}

        {% if blocks.theHeroCopy | length %}
        <p style="max-width: 550px;">{{blocks.theHeroCopy}}</p>
        {% endif %}

        {% if blocks.buttonText | length %}
        <a class="ui {{blocks.buttonColor}} button" role="button" href="{{blocks.buttonUrl}}" target="_blank">{{blocks.buttonText}}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="ui container" style="margin: 5em 0;">
    <div class="ui stackable equal width center aligned centered grid">
        {% for hourBlock in hours.locationsHours %}
            <div class="column">
                <h3 style="text-transform: uppercase;color: #2d2727;text-align: center">{{hourBlock.blockLabel}}</h3>
                <div class="ui divider" style="width: 20%;margin: 1em auto;"></div>
                <div style="display:flex;justify-content: space-around">
                    {% for variant in hourBlock.blockHoursVariants %}
                        <div>
                            <h5 style="text-align: center;color: #5b5b5b;text-transform: uppercase">{{variant.label}}</h5>
                            <p style="text-align: center;color: #5b5b5b">{{variant.value}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="ui container" style="margin-bottom: 17em !important;">

    {% for loc in locations.locations.all() %}
        {% set class='mobile reversed' %}
        {% if loop.index == 2 %}
            {% set class = 'reversed' %}
        {% endif %}

        {% for asset in loc.locationImagery.all() %}
            <div class="ui inverted segment" style="margin-bottom: 2em;background:url({{asset.url}});box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.23), inset 3em 3em 15em rgba(0,0,0,0.5);background-size: cover;background-position: center;">
                <div class="ui stackable {{class}} grid" style="height: 100%;min-height: 500px;">
                    <div class="eight wide column" style="display:flex;flex-direction: column;justify-content: flex-end;">
                        <div style="max-width: 300px;position: relative;left: -1em;">
                            <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));padding: 1.35em 2.5em;">
                                <a href="{{alias('@web')}}/eateries/food-menu" style="color: #2d2727;">
                                    <h4>VIEW FOOD MENU <i class="ui red right arrow icon"></i></h4>
                                </a>
                            </div>

                            <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));padding: 1.35em 2.5em;margin-top: 1em">
                                <a href="{{loc.tapMenuUrl}}" target="_blank" style="color: #2d2727;">
                                    <h4>VIEW TAP MENU <i class="ui red right arrow icon"></i></h4>
                                </a>
                            </div>

                            {% if loc.grubHubScript | length %}
                                <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));padding: 1.35em 2.5em;margin-top: 1em">
                                    {{ loc.grubHubScript|raw }}
                                </div>
                            {% endif %}

                        </div>

                    </div>

                    <div class="eight wide column" style="display:flex;flex-direction: column;justify-content: flex-end;">
                        <div style="    text-shadow: 2px 2px 10px rgba(0,0,0,0.7) !important;">
                            <h3 style="text-transform: uppercase;text-align: right">{{loc.locationName}}</h3>
                            <p style="margin-bottom: 29px;font-size: 18px;text-align: right">
                                <i class="red map marker alternate icon"></i>
                                {{loc.locationAddress}}
                                <br>
                                {{loc.locationCity}}, {{loc.locationState}} {{loc.locationZip}}
                                <br>
                                <i class="red phone icon"></i> {{loc.locationPhoneNumber}}
                            </p>
                            <p style="font-size: 14px;text-align:right;letter-spacing: 0.2px;max-width: 500px;margin: 0 auto;">
                                {{loc.littleBlurb}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}


    {% for locat in entry.additionalLocations %}
        {% for asset in locat.addit_locationImage %}
            <div class="ui inverted segment" style="background:url({{asset.url}});box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.23), inset 3em 3em 15em rgba(0,0,0,0.5);background-size: cover;background-position: center;">
                <div class="ui stackable grid" style="height: 100%;min-height: 500px;">
                    <div class="eight wide column" style="display:flex;flex-direction: column;justify-content: flex-end;">
                        <div style="max-width: 300px;position: relative;left: -1em;">
                            {% if locat.foodMenuUrl | length %}
                                <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));padding: 1.35em 2.5em;">
                                    <a href="{{ locat.foodMenuUrl }}" style="color: #2d2727;">
                                        <h4>VIEW FOOD MENU <i class="ui red right arrow icon"></i></h4>
                                    </a>
                                </div>
                            {% endif %}
                            {% if locat.tapMenuUrl | length %}
                                <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));padding: 1.35em 2.5em;margin-top: 1em">
                                    <a href="{{ locat.tapMenuUrl }}" style="color: #2d2727;">
                                        <h4>VIEW TAP MENU <i class="ui red right arrow icon"></i></h4>
                                    </a>
                                </div>
                            {% endif %}
                        </div>

                    </div>

                    <div class="eight wide column" style="display:flex;flex-direction: column;justify-content: flex-end;">
                        <div style="    text-shadow: 2px 2px 10px rgba(0,0,0,0.7) !important;">
                            <h3 style="text-transform: uppercase;text-align: right">{{locat.addit_locationName}}</h3>
                            <p style="margin-bottom: 29px;font-size: 18px;text-align: right">
                                <i class="red map marker alternate icon"></i>
                                {{locat.addit_locationAddr}}
                                <br>
                                {{locat.addit_locationCity}}, {{locat.addit_locationState}} {{locat.addit_locationZip}}
                                <br>
                                <i class="red phone icon"></i> {{locat.addit_locationPhone}}
                            </p>
                            <p style="font-size: 14px;text-align:right;letter-spacing: 0.2px;max-width: 500px;margin: 0 auto;">
                                {{locat.addit_locationBlurb}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

</div>



<div class="ui fluid container" style="margin: 9em 0!important; display:none;">
    <div class="ui stackable grid">
        {% set foodMenu = '' %}
        {% set tapMenu = '' %}
        {% for asset in entry.mainFoodMenuBackground.all() %}
            {% set foodMenu = 'background-image:url('~asset.url~');background-size:cover;background-repeat:no-repeat;background-position:center' %}
        {% endfor %}
        {% for asset in entry.mainTapMenuBackground.all() %}
            {% set tapMenu = 'background-image:url('~asset.url~');background-size:cover;background-repeat:no-repeat;background-position:bottom' %}
        {% endfor %}
        <div class="eight wide column food-menu" style="{{foodMenu}}">
            <div style="padding: 5em 3em;display:flex;flex-direction: column;justify-content: center">
                <h1 style="color:#fff;text-transform: uppercase">
                    {% set title = entry.mainFoodMenuTitle|nl2br %}
                    {{title|raw}}
                </h1>
                <div class="ui divider" style="width: 20%;border-color:#ee2e24"></div>
                <a href="{{alias('@web')}}/eateries/food-menu#/brunch" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Brunch</h4></a>
                <a href="{{alias('@web')}}/eateries/food-menu#/lunch" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Lunch + Dinner</h4></a>
                <a href="{{alias('@web')}}/eateries/food-menu#/gluten-free" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Gluten Free</h4></a>
                <!--<h4 style="color:#fff;text-transform: uppercase">Lunch + Dinner</h4>-->
                <!--<h4 style="color:#fff;text-transform: uppercase">Gluten Free</h4>-->
            </div>
            <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));position: absolute;right: 0;bottom: 0;padding: 1.35em 2.5em;">
                <a href="{{alias('@web')}}/eateries/food-menu" style="color: #2d2727"><h4>VIEW FOOD MENU</h4></a>
            </div>
        </div>
        <div class="eight wide column tap-menu" style="{{tapMenu}}">
            <div style="padding: 5em 3em;display:flex;flex-direction: column;justify-content: center">
                <h1 style="color:#fff;text-transform: uppercase">
                    {% set title = entry.mainTapMenuTitle|nl2br %}
                    {{title|raw}}
                </h1>
                <div class="ui divider" style="width: 20%;border-color:#ee2e24"></div>
                <a href="{{alias('@web')}}/eateries/tap-menu#/chandler" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Downtown Chandler Tap Selection</h4></a>
                <a href="{{alias('@web')}}/eateries/tap-menu#/phoenix" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Uptown Phoenix Tap Selection</h4></a>
                {% if entry.happyHourPdfAsset | length %}
                    {% for asset in entry.happyHourPdfAsset.all() %}
                        <a href="{{asset.url}}" style="text-decoration: none;color:white;margin: calc(2rem - .14285714em) 0 1rem;"><h4 style="color:#fff;text-transform: uppercase">Happy Hour Menu</h4></a>
                    {% endfor %}
                {% endif %}
            </div>
            <div style="background-blend-mode: lighten;background-image: linear-gradient(to bottom, rgba(255, 250, 250, 0.8), rgba(255, 250, 250, 0.8));position: absolute;right: 0;bottom: 0;padding: 1.35em 2.5em;">
                <a href="{{alias('@web')}}/eateries/tap-menu" style="color: #2d2727"><h4>VIEW TAP MENU</h4></a>
            </div>
        </div>
    </div>
</div>

{% for callout in entry.textCalloutSection %}
<div class="ui center aligned container" style="margin-bottom: 7em;margin-top: 9em">
    <h2 style="text-transform: uppercase">{{callout.textCalloutTitle}}</h2>
    <!--<p style="max-width: 490px;margin: 0 auto 1em;font-size: 18px;">{{callout.textCalloutCopy}}</p>-->
    <p>
        <a href="{{callout.textCalloutUrl}}" class="ui {{callout.textCalloutCtaColor}} button">{{callout.textCalloutCtaText}}</a>
    </p>
</div>
{% endfor %}



{% include 'globals/footer' %}