{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}
{% set access_token = getenv('FB_ACCESS_TOKEN') %}

{% include 'globals/header' %}

{% set bkgnd = '' %}
{% for asset in entry.categoryBackgroundImage.all() %}
{% set bkgnd = asset.url %}
{% endfor %}

<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .event-overlay {
        padding: 1rem;
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        font-size: 20px;
        background-color: rgba(0,0,0,0.4);
    }

    .event-overlay p {
        margin: 0;
    }

    .event-h1 {
        text-transform: uppercase;
        font-size: 32px !important;
    }
    @media screen and (min-width: 320px) {
        .event-h1 {
            font-size: calc(32px + 6 * ((100vw - 320px) / 680)) !important;
        }
    }
    @media screen and (min-width: 1000px) {
        .event-h1 {
            font-size: 63px !important;
        }
    }

</style>

<div class="ui fluid container" style="padding: 0 0 5em;background-image:url('{{ bkgnd }}');background-size: cover;background-position: bottom;max-height: 500px;height: 100%;display:flex;flex-direction: column;justify-content: flex-end">
    <div class="ui container" style="text-align: center;margin-top: 15em">
        {% for blocks in entry.pageHero.all() %}
            {% if blocks.smallText | length %}
                <h4 style="text-transform: uppercase">{{blocks.smallText}}</h4>
            {% endif %}
            {% if blocks.heroText | length %}
                <h1 class="event-h1">{{blocks.heroText}}</h1>
            {% endif %}
            {% if blocks.theHeroCopy | length %}
                <p style="margin: 0 auto;max-width:565px;font-size:18px;width: 100%;">{{blocks.theHeroCopy}}</p>
            {% endif %}
            {% if blocks.buttonText | length %}
                <button class="ui {{blocks.buttonColor}} button">{{blocks.buttonText}}</button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="ui container" style="display:none;margin-top: 4em">
        <div class="ui form">
            <div class="fields">
                <div class="twelve wide field">
                    <input type="text" id="event-query" placeholder="Event name or keywords…" style="border-radius: 0 !important;border: 0 !important;box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);opacity: 0.94;">
                </div>
                <div class="four wide field">
                    <button class="ui fluid red button" id="search-events" type="button" style="box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);">SEARCH EVENTS</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container" id="my-events" style="padding: 0 0 5em;    z-index: 3;">
    <div style="display:none;    position: relative;top: -2em;" id="event-counter">
        <p style="  font-size: 20px;
        text-align: center;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #2d2d2d;">

        </p>
    </div>
    <div class="ui basic text loading segment">
        <div class="ui stackable three column grid" id="event-grid">



        </div>
    </div>

</div>

{% if entry.largeImageCallout | length %}
    {% for block in entry.largeImageCallout.all() %}
        {% set backImg = '' %}
        {% for asset in block.largeImageCalloutImage.all() %}
            {% set backImg = asset.url %}
        {% endfor %}
        <div class="ui fluid container" style="background-image:url('{{ backImg }}');background-size: cover;background-position: center;display:flex;flex-direction: column;justify-content: center;z-index: -1;
    height: 130%;
    position: relative;
    top: 1px;padding: 15em 0;">
            <div class="ui container">
                <div class="ui inverted segment" style="max-width: 520px; background-color: transparent;">
                    {% if block.largeImageCalloutTitle | length %}
                        <h2 style="text-transform: uppercase">{{block.largeImageCalloutTitle}}</h2>
                    {% endif %}

                    {% if block.largeImageCalloutDescription | length %}
                        <p style="margin: 0 auto;font-size:18px">{{block.largeImageCalloutDescription}}</p>
                    {% endif %}
                    {% if block.largeImageCalloutCtaText | length %}
                    <a class="ui red button" href="{{block.largeImageCalloutCtaUrl}}" style="    text-transform: uppercase;margin-top: 1.3rem;">{{block.largeImageCalloutCtaText}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
<script>
    /**
     * jQuery.fn.sortElements
     * --------------
     * @param Function comparator:
     *   Exactly the same behaviour as [1,2,3].sort(comparator)
     *
     * @param Function getSortable
     *   A function that should return the element that is
     *   to be sorted. The comparator will run on the
     *   current collection, but you may want the actual
     *   resulting sort to occur on a parent or another
     *   associated element.
     *
     *   E.g. $('td').sortElements(comparator, function(){
     *      return this.parentNode;
     *   })
     *
     *   The <td>'s parent (<tr>) will be sorted instead
     *   of the <td> itself.
     */
    jQuery.fn.sortElements = (function(){

        var sort = [].sort;

        return function(comparator, getSortable) {

            getSortable = getSortable || function(){return this;};

            var placements = this.map(function(){

                var sortElement = getSortable.call(this),
                    parentNode = sortElement.parentNode,

                    // Since the element itself will change position, we have
                    // to have some way of storing its original position in
                    // the DOM. The easiest way is to have a 'flag' node:
                    nextSibling = parentNode.insertBefore(
                        document.createTextNode(''),
                        sortElement.nextSibling
                    );

                return function() {

                    if (parentNode === this) {
                        throw new Error(
                            "You can't sort elements if any one is a descendant of another."
                        );
                    }

                    // Insert before flag:
                    parentNode.insertBefore(this, nextSibling);
                    // Remove flag:
                    parentNode.removeChild(nextSibling);

                };

            });

            return sort.call(this, comparator).each(function(i){
                placements[i].call(getSortable.call(this));
            });

        };

    })();

    $(document).ready(function() {
        $.ajaxSetup({ cache: true });
        $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
            FB.init({
                appId: '1944191242376978',
                version: 'v3.2' // or v2.1, v2.2, v2.3, ...
            });//loop repeating events
            FB.api(
                '/174080999541/events?event_times',
                'GET',
                {access_token:'{{ access_token }}'},
                function(response) {


                    $.each(response['data'], function( index, value ) {
                        console.log(value['place']);
                        var place = '';
                        if (typeof value['place'] !== 'undefined') {
                            place = value['place']['name'];
                        }

                        var start = moment(value['start_time']);
                        var mon = start.format('MMM');
                        var day = start.format('DD');

                        var text = value['description'];
                        var short = value['description'];
                        if (text.length > 100) {
                            short = text.substr(0, text.lastIndexOf(' ', 97)) + '...';
                        }

                        if (value.hasOwnProperty("event_times")) {
                            $.each(value['event_times'], function(i,v){
                                console.log();
                                 start = moment(v['start_time']);
                                 mon = start.format('MMM');
                                 day = start.format('DD');
                                $("#event-grid").append('<div class="event column" data-start="'+v['start_time']+'" data-keywords="" data-cats="">\n' +
                                    '                <div class="ui fluid card" style="box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1)">\n' +
                                    '                    <div class="image" style="height: 200px;overflow: hidden;">\n' +
                                    '                        <div class="event-overlay">\n' +
                                    '                            <div>\n' +
                                    '                                <h4><small style="text-transform: uppercase">'+mon+'</small><br>'+day+'</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div>\n' +
                                    '                                <p>'+value['name']+'</p>\n' +
                                    '                                <p style="font-size: 14px">'+place+'</p>\n' +
                                    '\n' +
                                    '                            </div>\n' +
                                    '\n' +
                                    '                        </div>\n' +
                                    '                        <img id="cover-'+v['id']+'" src="#">\n' +
                                    '                    </div>\n' +
                                    '                    <div class="content">\n' +
                                    '                        <div class="description">\n' +
                                    '                            <p>'+short+'</p>\n' +
                                    '                            <p>\n' +
                                    '                                <a href="https://business.facebook.com/events/'+v['id']+'" target="_blank" style="color:red;font-size: 12px;">VIEW DETAILS</a>\n' +
                                    '                            </p>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                </div>\n' +
                                    '            </div>');
                            });
                        } else {
                            $("#event-grid").append('<div class="event column" data-start="'+value['start_time']+'" data-keywords="" data-cats="">\n' +
                                '                <div class="ui fluid card" style="box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1)">\n' +
                                '                    <div class="image" style="height: 200px;overflow: hidden;">\n' +
                                '                        <div class="event-overlay">\n' +
                                '                            <div>\n' +
                                '                                <h4><small style="text-transform: uppercase">'+mon+'</small><br>'+day+'</h4>\n' +
                                '                            </div>\n' +
                                '                            <div>\n' +
                                '                                <p>'+value['name']+'</p>\n' +
                                '                                <p style="font-size: 14px">'+place+'</p>\n' +
                                '\n' +
                                '                            </div>\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                        <img id="cover-'+value['id']+'" src="#">\n' +
                                '                    </div>\n' +
                                '                    <div class="content">\n' +
                                '                        <div class="description">\n' +
                                '                            <p>'+short+'</p>\n' +
                                '                            <p>\n' +
                                '                                <a href="https://www.facebook.com/events/'+value['id']+'" target="_blank" style="color:red;font-size: 12px;">VIEW DETAILS</a>\n' +
                                '                            </p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>');
                        }



                    });
                    // console.log(obj);
                    $.each(response['data'], function( index, value ) {
                        if (value.hasOwnProperty("event_times")) {
                            $.each(value['event_times'], function (i, v) {
                                FB.api(
                                    '/'+v['id'],
                                    'GET',
                                    {"fields":"cover",access_token:'{{ access_token }}'},
                                    function(data) {
                                        $("#cover-"+v['id']).attr('src', data['cover']['source']);
                                    }
                                );
                            });
                        } else {
                            FB.api(
                                '/'+value['id'],
                                'GET',
                                {"fields":"cover",access_token:'{{ access_token }}'},
                                function(data) {
                                    $("#cover-"+value['id']).attr('src', data['cover']['source']);
                                }
                            );
                        }


                    });

                    $('.event.columns').sortElements(function(a, b){
                        return Date.parse($(a).attr('data-start')) > Date.parse($(b).attr('data-start')) ? 1 : -1;
                    });

                    $("#event-grid").parent().removeClass('loading');

                }
            );
            // $('#loginbutton,#feedbutton').removeAttr('disabled');
            // FB.getLoginStatus(updateStatusCallback);
        });

    });



    $("#search-events").on("click", function () {
        var count = 0;
       var myEventContainer = $("#my-events");
       myEventContainer.addClass('basic loading segment');
       var query = $("#event-query").val().toUpperCase();
        myEventContainer.find('.event.column').each(function(i,obj){
            var card = $(obj);
            if (query === '') {
                count = 'false';
                card.show();
            } else {
                var keywords = card.attr('data-keywords').toUpperCase();
                var indexOfFirst = keywords.indexOf(query);
                console.log('key', keywords, indexOfFirst);
                if (indexOfFirst === -1) {
                    card.hide();
                } else {
                    count++;
                    card.show();
                }

            }
        });

        console.log('count', count);

        if (count === "false") {
            //do nothing
            $("#event-counter").hide();
        } else {
            var string = "No events found for <strong>"+$("#event-query").val()+"</strong>";
            if (count > 0) {
                string = count+" event(s) found for <strong>"+$("#event-query").val()+"</strong>";
            }

            $("#event-counter").show().find('p').html(string);
        }

        myEventContainer.removeClass('basic loading segment');


    });
</script>

{% include 'globals/footer' %}