{% set title = entry.title %}

{% set eatery = craft.entries.section('eateries').first() %}

{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set backs = '' %}

{% set myArray = [] %}


{% set myArray = myArray|merge([1]) %}
{% set myArray = myArray|merge([2,3]) %}
{% set myArray = myArray|merge([4]) %}

{% for blocks in entry.pageHero.all() %}
{% set myArray = blocks.backgroundImages.all() %}
{% endfor %}

{% if backs %}
{% set backs = 'background-image: ' ~ backs ~ ';' %}
{% endif %}
<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .ui.secondary.pointing.menu .active.item {
        color: #fff !important;
    }
    .ui.menu:after {
        display: none !important;
    }

    .ui.secondary.pointing.menu .item {
        padding: 1.5em 0;
    }

    .menu-title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.2px;
        color: #2d2727;
        margin-bottom: 0 !important;
    }

    .segment-max-width {
        max-width: 450px;
    }

    .menu-wrapper {
        background-color: #ff9800;
        position: relative;
        margin: 0 auto !important;
    }

    .menu-wrapper .stackable.menu {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0 !important;
    }

    @media screen and (max-width: 768px) {
        .segment-max-width {
            max-width: 330px;
        }

        .menu-wrapper {
            background-color: #ff9800;
            position: relative;
            margin: 0 !important;
        }

        .menu-wrapper .stackable.menu {
            margin: 0 2rem !important;
        }

    }

</style>
{% set brunchAsset = '' %}
{% if eatery.brunchMenuAsset | length %}
{% for asset in eatery.brunchMenuAsset.all() %}
{% set brunchAsset = asset.url %}
{% endfor %}
{% endif %}
{% set lunchAsset = '' %}
{% if eatery.lunchAndDinnerMenuAsset | length %}
{% for asset in eatery.lunchAndDinnerMenuAsset.all() %}
{% set lunchAsset = asset.url %}
{% endfor %}
{% endif %}
{% set glutenAsset = '' %}
{% if eatery.glutenFreeMenuAsset | length %}
{% for asset in eatery.glutenFreeMenuAsset.all() %}
{% set glutenAsset = asset.url %}
{% endfor %}
{% endif %}
<div class="ui fluid container">
    <div class="ui stackable grid">
        <!--<div class="eight wide computer sixteen wide tablet column" style="padding: 12em 0 5em;background-image:url({{myArray[0]['url']}});background-repeat:no-repeat;background-size:cover;">-->
            <!--<div class="ui inverted segment" style="background-color: rgba(238, 46, 36, 0.9);max-width: 450px;">-->
                <!--<div style="max-width: 270px;margin-left: auto">-->
                    <!--<h2 style="text-transform: uppercase">FOOD MENU</h2>-->
                    <!--<p>-->
                        <!--<a href="{{alias('@web')}}/eateries" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO EATERY MENUS</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h1 id="tap-menu-title" style="color:#fff;text-transform: uppercase;padding-top: 0.7em;max-width: 500px;margin-left: auto;text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);"><br>Brunch</h1>-->
        <!--</div>-->

        <div class="eight wide computer sixteen wide tablet column" style="background-image:url({{myArray[0]['url']}});background-repeat:no-repeat;background-size:cover;">
            <div class="ui grid" style="margin: 12em -1rem 5em !important;">
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui inverted segment segment-max-width" style="background-color: rgba(238, 46, 36, 0.9);">
                            <div style="max-width: 270px;margin-left: auto">
                                <h2 style="text-transform: uppercase">FOOD MENU</h2>
                                <p>
                                    <a href="{{alias('@web')}}/eateries" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO EATERY MENUS</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="computer only row">
                    <div class="sixteen wide column">
                        <div class="ui inverted segment" style="background-color: rgba(238, 46, 36, 0);max-width: 450px;margin-top: 0.7em;">
                            <div style="max-width: 270px;margin-left: auto">
                                <h1 id="tap-menu-title"  style="text-transform: uppercase;text-shadow: 10px 10px 20px rgba(0,0,0,0.12);">BRUNCH</h1>
                                <div id="menu-download">
                                    {% if brunchAsset != '' %}
                                        <a style="color:#fff;" target="_blank" href="{{brunchAsset}}">Download Brunch Menu</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="eight wide computer only column" style="padding-bottom: 100px;background-image:url({{myArray[1]['url']}});background-repeat:no-repeat;background-size:cover;"></div>
    </div>
</div>


<div class="ui container menu-wrapper">
    <div class="ui pointing secondary stackable menu">
        <a class="active item" data-tab="brunch" data-name="<br>Brunch" data-menu-text="Brunch" data-asset="{{brunchAsset}}"><h4 style="text-transform: uppercase">BRUNCH</h4></a>
        <a class="item" data-tab="lunch" data-name="Lunch +<br>Dinner" data-menu-text="Lunch + Dinner" data-asset="{{lunchAsset}}"><h4 style="text-transform: uppercase">LUNCH + DINNER</h4></a>
        <a class="item" data-tab="gluten-free" data-name="Gluten<br>Free" data-menu-text="Gluten Free" data-asset="{{glutenAsset}}"><h4 style="text-transform: uppercase">GLUTEN FREE</h4></a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="brunch" style="    background-color: #fffafa;">
        {% for blocks in entry.servingHours %}
            {% if blocks.servingHours_menu == 'breakfast' %}
                <div style="max-width: 900px;margin: 0 auto 2em;" class="ui equal width stackable grid">
                    <div class="column" style="display:flex;">
                        {% for asset in entry.servingHoursIcon.all() %}
                            <div><img class="ui image" src="{{asset.url}}" style="max-width: 20px"></div>
                        {% endfor %}
                        <div style="align-self: center"><h4 style="color:#2d2727;text-align: left">&nbsp;SERVING HOURS</h4></div>
                    </div>
                    {% for hours in blocks.servingHours_hours %}
                        <div class="column" style="display:flex;">
                            <div style="align-self: center">
                                <h5 style="color: #2d2d2d;align-self: center">{{hours.servingHours_weekdays}} //&nbsp;</h5>
                            </div>
                            <div style="align-self: center">
                                <p style="color: #707070;align-self: center">{{hours.servingHours_times}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="ui divider" style="max-width: 900px;margin: 1rem auto;"></div>
            {% endif %}
        {% endfor %}
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui stackable grid" id="fill-breakfast-menu">

        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="lunch" style="    background-color: #fffafa;">
        {% for blocks in entry.servingHours %}
        {% if blocks.servingHours_menu == 'lunchDinner' %}
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui equal width stackable grid">
            <div class="column" style="display:flex;">
                {% for asset in entry.servingHoursIcon.all() %}
                <div><img class="ui image" src="{{asset.url}}" style="max-width: 20px"></div>
                {% endfor %}
                <div style="align-self: center"><h4 style="color:#2d2727;text-align: left">&nbsp;SERVING HOURS</h4></div>
            </div>
            {% for hours in blocks.servingHours_hours %}
            <div class="column" style="display:flex;">
                <div style="align-self: center">
                    <h5 style="color: #2d2d2d;align-self: center">{{hours.servingHours_weekdays}} //&nbsp;</h5>
                </div>
                <div style="align-self: center">
                    <p style="color: #707070;align-self: center">{{hours.servingHours_times}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui divider" style="max-width: 900px;margin: 1rem auto;"></div>
        {% endif %}
        {% endfor %}
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui stackable grid" id="fill-lunch-menu">

        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="gluten-free" style="    background-color: #fffafa;">
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui stackable grid" id="fill-gluten-menu">

        </div>
    </div>
</div>

{% if entry.groupItems | length %}
<!--<div class="ui container fluid" style="margin:0;">-->
    <!--<div class="ui container" style="padding:4em 0">-->
        <!--<div class="ui equal width center aligned stackable grid">-->
            <!--{% for block in entry.groupItems.all() %}-->
            <!--<div class="column" style="max-width: 350px; ">-->
                <!--<div class="ui medium-height image">-->
                    <!--{% for asset in block.itemAsset.all() %}-->
                    <!--<img src="{{asset.url}}" class="ui medium-height image">-->
                    <!--{% endfor %}-->
                <!--</div>-->
                <!--<h4 style="text-transform: uppercase">{{block.itemTitle | raw}}</h4>-->
                <!--<p>{{block.itemDescription}}</p>-->
                <!--{% for row in block.itemCta %}-->
                <!--<a href="{{row.ctaUrl}}" class="red" style="color:{{colors.primaryColor}}; text-transform: uppercase">{{row.ctaText}} <i class="arrow alternate circle right outline red icon"></i></a>-->
                <!--{% endfor %}-->
            <!--</div>-->
            <!--{% endfor %}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
<script>
    $(document).ready(function(){
        var settings = {
            "async": true,
            // "crossDomain": true,
            "url": "/actions/business-logic/example/locu-ajax",
            "method": "GET",
        };

        function stripHtml(html){
            // Create a new div element
            var temporalDivElement = document.createElement("div");
            // Set the HTML content with the providen
            temporalDivElement.innerHTML = html;
            // Retrieve the text property of the element (cross-browser support)
            return temporalDivElement.textContent || temporalDivElement.innerText || "";
        }

        function fillMenu(div, obj) {
            var menu = $("#"+div);
            var parent = menu.parent();
            parent.addClass('loading');
            var section = stripHtml(obj.section_name);
            // console.log(section);
            // if (section === "") {
            //     section = "YEAR-ROUND BEERS";
            // }
            if (section === "Happy Hour‎") {
                menu.append("<div class='sixteen wide column' style='margin: 2em auto 1em;max-width:600px;text-align: center;' data-section='"+section+"'><h3 style='text-transform: uppercase;color:#ee2e24;'>"+section+"</h3></div>");
                menu.append("<div class='sixteen wide column' style='margin: 0 auto;max-width:650px;text-align: center;'><div class='ui stackable grid' data-section='"+section+"-2' style='justify-content: space-between;'></div></div>");
                var menu2 = $(document).find("[data-section='"+section+"-2']");
                $.each(obj.subsections[0]['contents'], function(ind, object) {
                    if (object.type == "ITEM") {
                        var name = object.name;
                        var desc = "";
                        if ('description' in object) {
                            desc = object.description;
                        }

                        var price = "";
                        if ('price' in object) {
                            price = "$"+object.price;
                        }
                        // if (names[1] !== "" || names[1] !== undefined) {
                        //     desc = names[1];
                        // }
                        //
                        // if (names[2] !== "" || names[2] !== undefined) {
                        //     if (desc !== "") {
                        //         desc += " | "+names[2];
                        //     } else {
                        //         desc = names[2];
                        //     }
                        // }
                        menu2.append("<div class='seven wide column'><div style='display: flex;justify-content: space-between;'><h6 class='menu-title' style='margin-bottom: 0;margin-top: 0'>"+name+"</h6><div style='align-self: center'>"+price+"</div></div><p style='color:#565656;'>"+desc+"</p></div>");
                    } else {
                        $(document).find("[data-section='"+section+"']").append("<p style='color:#666666'>"+object.text+"</p>");
                    }

                });
            } else {
                menu.append("<div class='sixteen wide column' style='margin: 2em 0 1em;' data-section='"+section+"'><h5 style='text-transform: uppercase;color:#ee2e24;'>"+section+"</h5></div>");
                $.each(obj.subsections[0]['contents'], function(ind, object) {
                    if (object.type == "ITEM") {
                        var name = object.name;
                        var desc = "";
                        if ('description' in object) {
                            desc = object.description;
                        }

                        var price = "";
                        if ('price' in object) {
                            price = "$"+object.price;
                        }
                        // if (names[1] !== "" || names[1] !== undefined) {
                        //     desc = names[1];
                        // }
                        //
                        // if (names[2] !== "" || names[2] !== undefined) {
                        //     if (desc !== "") {
                        //         desc += " | "+names[2];
                        //     } else {
                        //         desc = names[2];
                        //     }
                        // }
                        menu.append("<div class='eight wide column'><div class=\"ui basic segment\"><div style='display: flex;justify-content: space-between;'><h6 class='menu-title'>"+name+"</h6><div style='align-self: center'>"+price+"</div></div><p style='color:#565656;'>"+desc+"</p></div></div>");
                    } else {
                        $(document).find("[data-section='"+section+"']").append("<p style='color:#666666'>"+object.text+"</p>");
                    }

                });
            }


            parent.removeClass('loading');
        }

        $.ajax(settings).done(function (response) {
            var obj = JSON.parse(response);
            var menus = obj.venues[0].menus;
            console.log(menus);
            var breakfast = menus[0];
            var lunch = menus[1];
            var gluten = menus[2];
            // console.log(lunch);
            $.each(breakfast.sections, function(i,obj) {
                fillMenu('fill-breakfast-menu', obj);
            });

            $.each(lunch.sections, function(i,obj) {
                fillMenu('fill-lunch-menu', obj);
            });

            $.each(gluten.sections, function(i,obj) {
                fillMenu('fill-gluten-menu', obj);
            });
        });

        $('.menu .item')
            .tab({
                history: true,
                historyType: 'hash',
                onLoad:function (tabPath, parameter, history) {
                    console.log(tabPath,parameter,history);
                    var item = $('a.item[data-tab='+tabPath+']');
                    var title = $("#tap-menu-title");
                    title.html(item.attr('data-name'));

                    if (item.attr('data-asset') !== "") {
                        $("#menu-download").html('<a style="color:#fff;" target="_blank" href="'+item.attr('data-asset')+'"><i class="arrow alternate circle down outline icon"></i> Download Menu</a>');
                    } else {
                        $("#menu-download").html('');
                    }

                }
            })
        ;

    });
</script>
{% include 'globals/footer' %}