{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}
{% set access_token = getenv('FB_ACCESS_TOKEN') %}

{% include 'globals/header' %}

<style>
    .smaller.beer-shadow {
        bottom: -30px;
        left: unset;
        margin: auto;
        width: 130px;
    }
    .beer-slider .ui.small.image {
        width: auto !important;
        height: 250px !important;
        min-width: 125px;
    }

    .beer-slider {
        /*transform: translateX(-5%);*/
        display:flex;
        flex-direction: row;
        justify-content: center;
        /*max-width: 1127px;*/
        /*margin: 0 auto!important;*/
        /*width: 110%;*/
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
        /*-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);*/
        /*-ms-overflow-style: none;*/
        /*overflow: -moz-scrollbars-none;*/
    }
    .beer-slider::-webkit-scrollbar {
        display: none;
    }

    .other-brew-wrap {
        position: relative;
        transform: scale(0.8);
        -webkit-transition: all 0.25s cubic-bezier(0, 0, 0.32, 1.13);
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s cubic-bezier(0, 0, 0.32, 1.13);
    }

    .other-brew-wrap:hover {
        transform: scale(1);
    }

    .other-brew-wrap .beer-desc {
        opacity: 0;
        width: 100%;
        max-width: 110px;
        line-height: 1.7;
        margin: 1.5em auto 0;
        word-wrap: break-word;
    }

    .other-brew-wrap:hover .beer-desc {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }

    .other-brew-wrap:hover .beer-main {
        top: -5px;
        -webkit-transition: top 0.3s ease-out;
        -moz-transition: top 0.3s ease-out;
        -o-transition: top 0.3s ease-out;
        transition: top 0.3s ease-out;
    }

    .other-brew-wrap:hover .beer-shadow {
        bottom: -46px !important;
        opacity: 0.5 !important;
        -webkit-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        -moz-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        -o-transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
        transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
    }

    .event-overlay {
        padding: 1rem;
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        font-size: 20px;
        background-color: rgba(0,0,0,0.4);
    }

    .event-overlay p {
        margin: 0;
    }

    .insta-p {
        text-align: right;
    }

    @media screen and (max-width: 1024px) {
        .beer-slider {
            justify-content: space-between !important;
            /*transform: translateX(-5%);
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1127px;
            margin: 0 auto!important;
            width: 110%;
            overflow-x: scroll;*/
            -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
            /*-ms-overflow-style: none;*/
            /*overflow: -moz-scrollbars-none;*/
        }
        .beer-slider::-webkit-scrollbar {
            display: none;
        }
        .other-brew-wrap {
            /*position: relative;*/
            margin: 0 auto;
        }

        .insta-p {
            text-align: left;
        }
    }

</style>

{% set bkgnd = '' %}
{% for blocks in entry.pageHero.all() %}

    {% for asset in blocks.backgroundImages %}
        {% set bkgnd = asset.url %}
    {% endfor %}
{% endfor %}



<div class="ui inverted vertical left aligned segment" style="padding: 12em 0 10em;background-image:url('{{ bkgnd }}');background-size: cover;background-position: 0 15%;max-height: 700px;height: 100%;display:flex;flex-direction: column;justify-content: center">
    <div class="ui container">
        {% for blocks in entry.pageHero.all() %}
            {% if blocks.smallText | length %}
                <h4 style="text-transform: uppercase">{{blocks.smallText}}</h4>
            {% endif %}

            {% if blocks.heroText | length %}
                <h2 style="max-width: 550px;">{{blocks.heroText}}</h2>
            {% endif %}

            {% if blocks.buttonText | length %}
                <a role="button" href="{{blocks.buttonUrl}}" class="ui {{blocks.buttonColor}} button">{{blocks.buttonText}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="ui container">
    <div class="ui segment" style="max-width: 1100px;margin: 0 auto;position: relative;top: -40px;">
        <div class="ui equal width center aligned mobile reversed stackable grid" style="margin: 1em 0">
            <div class="column" style="max-width: 250px;text-align: left">

                {% set day = date()|date('l','America/Phoenix') %}


                {% set theHighlight = '<p> <a class="ui red button" href="https://santanbrewing.com/assets/headerImages/STBC-Pub-Menu-feb-2020.pdf" target="_blank">VIEW THE MENU</a></p>
                <h4 style="text-transform: uppercase">Now Delivering Beer & Food</h4>
                <p>Download our app for easy mobile orders</p>


                <div class="ui two column grid">
                    <div class="column">
                        <p><a href="https://apps.apple.com/us/app/santan-brewing-company/id1482422360?app" target="_blank"><img style="height:25px;" src="'~alias('@web')~'/assets/headerImages/Apple-App-Store.svg"></a></p>
                    </div>
                    <div class="column">
                        <p><a href="https://play.google.com/store/apps/details?id=com.chownow.santanbrewingcompany" target="_blank"><img style="height:25px;" src="'~alias('@web')~'/assets/headerImages/Google-Play.svg"></a></p>
                    </div>
                    
                </div>' %}

                {% if entry.currentHighlights|length %}
                    {% for highlight in entry.currentHighlights %}

                        {% if highlight.highlight_validWeekdays.contains(day) %}
                            {% if ((date(highlight.highlight_startTime) <= date()) and (date(highlight.highlight_endTime) >= date())) %}
                                {% set validStart = '' %}
                                {% set validEnd = '' %}
                                {% for option in highlight.highlight_validWeekdays %}
                                    {% if loop.first %}
                                        {% set validStart = date(option)|date('D','America/Phoenix') %}
                                    {% else %}
                                        {% if loop.last %}
                                            {% set validEnd = date(option)|date('D','America/Phoenix') %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% set theHighlight = '<h4 style="text-transform: uppercase">' ~ highlight.highlightTitle ~ '</h4> <p><strong>'~validStart~' – '~validEnd~'</strong> '~date(highlight.highlight_startTime)|date('g:ia')~' - '~date(highlight.highlight_endTime)|date('g:ia')~'</p> <p> <a class="ui black button" href="' ~ alias('@web') ~ '/eateries/food-menu">' ~ highlight.highlight_ctaText ~ '</a></p><p><a class="ui red button" href="https://ordering.chownow.com/order/16583/locations" target="_blank">ORDER FOR PICKUP</a></p>' %}
                            {%endif%}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {{ theHighlight|raw }}

            </div>
            {% for loc in locations.locations %}
                <div class="column" style="max-width: 250px;text-align: left">
                    <h6 style="text-transform: uppercase">{{loc.locationName}}</h6>
                    <p>
                        {{loc.locationAddress}}
                        <br>
                        {{loc.locationCity}}, {{loc.locationState}} {{loc.locationZip}}
                    </p>
                    <p>
                        <a class="red text" target="_blank" href="{{loc.directionUrl}}"><i class="red map marker alternate icon"></i> Directions</a>
                    </p>
                    <p><i class="red phone icon"></i> {{loc.locationPhoneNumber}}</p>
                    <p>
                        <i class="red utensils icon"></i> 
                        <a class="red text" href="{{loc.grubhubWidget}}" target="_blank">Order for Delivery</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% if entry.homePageLinkCallouts | length %}
<div class="ui container" style="max-width: 1100px;margin: 0 auto;position: relative;top: -20px;">
    <div class="ui stackable grid">
        {% for link in entry.homePageLinkCallouts.all() %}
            
            <div class="eight wide column">
                <a href="{{link.externalUrl}}">
                    {% for asset in link.linkCalloutAsset.all() %}
                        <img class="ui centered image" src="{{asset.url}}">
                    {% endfor %}
                </a>
            </div>
            
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="ui container fluid beer wrap">
    <div class="ui container">
        {% for asset in entry.exploreBeerAsset.all() %}
            <img class="ui centered large image" src="{{asset.url}}" style="top: 25px;transform: rotate(3deg);">
        {% endfor %}
        <h2 style="text-align: center;margin-bottom: 0">{{entry.exploreBeerTitle}}</h2>


        {% set beersTabs = '' %}
        {% set beersSegments = '' %}
        {% for category in craft.categories.group('beer') %}
            {% if category.title == 'Beers' %}
                {% for cat in craft.categories.descendantOf(category) %}
                    {% set active = '' %}
                    {% if loop.index == 1 %}
                        {% set active = 'active' %}
                    {% endif %}

                    {% set beersTabs = beersTabs ~ '<a class="item '~ active ~'" data-tab="' ~ cat.slug ~ '" style="color: #858585;text-transform: uppercase;text-shadow: none">' ~ cat.title ~ '</a>' %}
                    {% set entries = craft.entries.relatedTo(cat) %}
                    {% set flex = '' %}
                    {% if entries.count() > 5 %}
                        {% set flex = 'justify-content: space-between !important;' %}
                    {% endif %}
                    {% set beerSlider = '<div class="beer-slider" style="'~flex~'">' %}

                    {% for beer in entries %}
                        {% set div = '' %}


                        {% for image in beer.imagery %}

                            {% if image.canAsset | length %}

                                {% for asset in image.canAsset %}
                                    {% set div = '<div style="position: relative;"><img class="smaller beer-shadow" src="'~alias('@web')~'/assets/headerImages/shadow.png"><img class="ui centered small image beer-main" style="width: 100px;" src="'~asset.url~'"></div>' %}

                                {% endfor %}

                            {% endif %}

                        {% endfor %}

                        {% set beerSlider = beerSlider ~ '<div style="padding-left: 1em;padding-right: 1em" class="other-brew-wrap">' ~ div ~ '<div class="beer-desc"><strong style="text-transform: uppercase">' ~ beer.title ~ '</strong><br>' ~ beer.subtitle ~ '<br><a class="text red" href="' ~ beer.url ~ '">SEE DETAILS</a></div></div>' %}

                    {% endfor %}

                    {% set beersSegments = beersSegments ~ '<div class="ui bottom tab '~ active ~'" data-tab="' ~ cat.slug ~ '"><div class="ui centered grid"><div class="twelve wide column">' ~ beerSlider ~ '</div></div></div>' ~ '</div>' %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        <div class="ui secondary stackable menu" style="justify-content: center;margin:1rem auto 2rem;width: 100%;max-width: 150px">
            {{ beersTabs | raw }}
        </div>
        <div class="ui container">
            {{ beersSegments | raw }}
        </div>

        <div style="margin: 1em auto;">
            <div class="centered grid stackable ui" style="margin: 0 auto;width: 100%;">
                <div class="column four wide">
                    <a role="button" href="beer-finder" class="black button fluid ui">FIND BEER NEAR ME</a>
                </div>
                <div class="column four wide">
                    <a href="craft-beer" role="button" class="black button fluid ui">EXPLORE THE BEERS</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% for section in entry.spotlightSection.all() %}
    {% set background = '' %}
    {% for asset in section.backgroundAsset %}
        {% set background = 'background: url(' ~ asset.url ~ ');max-height:' ~ asset.height ~ 'px!important;height:100vh;' %}
    {% endfor %}
    {% if section.spotlightBackgroundPercentage | length %}
        {% set background = background ~ 'background-position-x:' ~ section.spotlightBackgroundPercentage %}
    {% endif %}
<!-- spotlightBackgroundPercentage -->
<!-- heroBackgroundPercentage -->

    <div class="ui basic inverted segment masthead" style="display:flex;flex-direction: column;justify-content: center;    background-size: cover !important;background-position: left center;{{background}}">
        <div class="ui container" style="max-width: 1100px !important;margin-left: auto;margin-right: auto">
            <div class="ui equal width stackable grid">

                <div class="column" style="display: flex;flex-direction: column;justify-content: center">
                    <div>
                        {% if section.spotlightTitle | length %}
                        <h2 style="text-transform: uppercase">{{ section.spotlightTitle }}</h2>
                        {% endif %}
                        {% if section.spotlightBody | length %}
                        <p style="    font-size: 18px;max-width: 400px;    text-shadow: 1px 1px 2px rgba(0,0,0,1);">{{ section.spotlightBody }}</p>
                        {% endif %}
                        {% if section.spotlightButtonText | length %}
                        <a class="ui button {{section.spotlightButtonColor}}" href="{{section.spotlightButtonUrl}}" style="text-transform: uppercase">{{ section.spotlightButtonText }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="column">
                    {% for asset in section.spotlightAsset.all() %}
                    <img class="ui centered medium image" src="{{asset.url}}">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}


<div class="ui basic inverted segment masthead" style="height:auto !important;padding: 6em 0;">
    <div class="ui container" style="max-width: 1100px !important;margin-left: auto;margin-right: auto">
        <div class="ui stackable grid" style="align-items: center;margin-bottom: 30px;">
            <div class="eight wide column">
                <h2 style="text-transform: uppercase">upcoming events</h2>
            </div>
            <div class="eight wide column" style="text-align: right">
                <p style="display: inline-flex;
                    justify-content: space-between;
                    max-width: 300px;width:100%;">
                    <a href="{{ alias('@web') }}/catering" style="text-decoration: none;color: white;"><i class="calendar plus outline icon"></i> BOOK AN EVENT</a>
                    |
                    <a href="{{alias('@web')}}/events" style="text-decoration: none;color: white;">ALL EVENTS &nbsp;<i class="arrow right icon"></i></a>
                </p>
            </div>
        </div>
        <div class="ui stackable three column grid" id="event-grid">

        </div>
    </div>
    <div class="ui container" style="max-width: 1100px !important;margin-left: auto;margin-right: auto;margin-top: 6em;">
        <div class="ui stackable grid">

            <div class="six wide column" style="display: flex;flex-direction: column;justify-content: center">
                <div style="position: relative; z-index:5">
                    <h2 style="text-transform: uppercase">{{entry.subscribeTitle}}</h2>
                    <p style="font-size: 18px;max-width: 400px;">{{entry.subscribeSubtitle}}</p>
                    {% for row in entry.subscribeButton %}
                        <a class="ui red button" href="{{row.buttonHref}}" style="text-transform: uppercase">{{row.buttonText}}</a>
                    {% endfor %}
                </div>
                <div style="position: absolute;left: -50px;z-index: 1;">
                    {% for asset in entry.subscribeFloaty.all() %}
                        <img class="ui medium image" src="{{asset.url}}" >
                    {% endfor %}
                </div>
            </div>
            <div class="ten wide column">
                {% for asset in entry.subscribeAsset.all() %}
                <img class="ui big right floated image" src="{{asset.url}}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="ui container" style="    margin-bottom: 5em;margin-top: 5em;">

    <div class="ui stackable grid" style="align-items: center;margin-bottom: 30px;">
        <div class="eight wide column">
            <h2 style="text-transform: uppercase">SEE WHAT'S BREWING</h2>
        </div>
        <div class="eight wide column insta-p">
            <p style="font-size: 24px">
                <a href="https://instagram.com/santanbrewing" style="text-decoration: none;color:#2d2727"><i class="instagram red icon"></i> #santanbrewing</a>
            </p>
        </div>
    </div>

    <div class="ui grid">
        <div class="sixteen wide computer only column">
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/630219" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:274px"></iframe>
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/674097" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:302px; height:302px"></iframe>
        </div>
        <div class="sixteen wide mobile tablet only column">
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/674097" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height: 450px;"></iframe>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
<script src='https://cf.chownowcdn.com/latest/static/integrations/ordering-modal.min.js' data-chownow-company-id=16583></script>
<script>
    $(document).ready(function(){


        $.ajaxSetup({ cache: true });
        $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
            FB.init({
                appId: '1944191242376978',
                version: 'v3.2' // or v2.1, v2.2, v2.3, ...
            });
            FB.api(
                '/174080999541/events',
                'GET',
                {access_token:'{{ access_token }}'},
                function(response) {

                    i=0;

                    $.each(response['data'], function( index, value ) {

                        if (i !== 3) {
                            console.log(value['place']);
                            var place = '';
                            if (typeof value['place'] !== 'undefined') {
                                place = value['place']['name'];
                            }

                            var start = moment(value['start_time']);
                            var mon = start.format('MMM');
                            var day = start.format('DD');

                            var text = value['description'];
                            var short = value['description'];
                            if (text.length > 100) {
                                short = text.substr(0, text.lastIndexOf(' ', 97)) + '...';
                            }

                            $("#event-grid").append('<div class="event column" data-keywords="" data-cats="">\n' +
                                '                <div class="ui fluid card" style="box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1)">\n' +
                                '                    <div class="image" style="height: 200px;overflow: hidden;">\n' +
                                '                        <div class="event-overlay">\n' +
                                '                            <div>\n' +
                                '                                <h4><small style="text-transform: uppercase">'+mon+'</small><br>'+day+'</h4>\n' +
                                '                            </div>\n' +
                                '                            <div>\n' +
                                '                                <p>'+value['name']+'</p>\n' +
                                '                                <p style="font-size: 14px">'+place+'</p>\n' +
                                '\n' +
                                '                            </div>\n' +
                                '\n' +
                                '                        </div>\n' +
                                '                        <img id="cover-'+value['id']+'" src="#">\n' +
                                '                    </div>\n' +
                                '                    <div class="content">\n' +
                                '                        <div class="description">\n' +
                                '                            <p>'+short+'</p>\n' +
                                '                            <p>\n' +
                                '                                <a href="https://www.facebook.com/events/'+value['id']+'" target="_blank" style="color:red;font-size: 12px;">VIEW DETAILS</a>\n' +
                                '                            </p>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>');
                            i++;
                        }


                    });
                    i=0;
                    // console.log(obj);
                    $.each(response['data'], function( index, value ) {
                        if (i !== 3) {
                            FB.api(
                                '/'+value['id'],
                                'GET',
                                {"fields":"cover",access_token:'{{ access_token }}'},
                                function(data) {
                                    $("#cover-"+value['id']).attr('src', data['cover']['source']);
                                }
                            );
                            i++;
                        }


                    });

                    // $("#event-grid").parent().removeClass('loading');

                }
            );
            // $('#loginbutton,#feedbutton').removeAttr('disabled');
            // FB.getLoginStatus(updateStatusCallback);
        });

        $('.menu .item')
            .tab()
        ;
        $('.beer-slider').each(function(i,obj){

        });
    })
</script>

{% include 'globals/footer' %}

