
{% redirect "https://santantours.com/?page_id=3432" 301 %}
{% set entry = craft.entries.section('orderKeg').one() %}

{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}
{% set keg = craft.entries.section('orderKeg').one() %}

{% set back = '' %}
{% for asset in keg.categoryBackgroundImage.all() %}
    {% set back = 'background: url('~asset.url~') no-repeat;background-position: center;background-size:cover;' %}
{% endfor %}

{% set sizes = craft.categories.group('beerFormats').find() %}


<style>
    .ui.fluid.container {
        margin: 0 !important;
    }

    .my-grid {
        margin: -4em !important;
    }

    @media screen and (max-width: 768px) {
        .my-grid {
            margin: -4em auto !important;
            width: 100%;
        }
    }

</style>

<div class="ui fluid container" style="min-height: 100%;display: flex;flex-direction: column;justify-content: space-evenly;{{back}}">
    <div class="ui container" style="padding: 10em 0 5em;">
        <div class="ui inverted segment" style="background: {{keg.keg_backgroundColor}};border-radius: 87px;box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.29);">
            <div class="ui stackable grid my-grid">
                <div class="six wide computer only column" style="display: flex;flex-direction: column;justify-content: center">
                    {% for asset in keg.kegAsset.all() %}
                    <img src="{{asset.url}}" class="ui centered image">
                    {% endfor %}
                </div>
                <div class="eight wide computer sixteen wide tablet column">
                    <h1 style="text-transform: uppercase;margin-bottom: 0;text-shadow: 10px -10px 40px #000000;">Order Kegs</h1>
    
                    <p style=" font-size: 16px;">
                       SanTan kegs are a great addition to your hosted events or to put in your kegerator at home or office. Please give us 48 hours notice to prepare your keg for pickup at our production facility on Warner Road in between Arizona Ave and McQueen. Don’t forget the tap and keg tub!
                    </p>

    <div class="" id="little-button" style="margin: 2em 0 4em;">
                            <div style="display:flex;justify-content: flex-start;">
                               <a href="https://santantours.com/?page_id=3432" target="_blank"> <button class="ui red button" id="" type="button">ORDER KEG(S)</button></a>
                                <div id="" style="    align-self: center;margin-left: 1em;"></div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.beerType')
            .dropdown()
        ;


        $("input[type=checkbox]").on("click tap touchstart", function(){
            calculate();
        });

        function calculate() {
            var price = 0;
            $(document).find('.kegPrice').each(function(i,obj) {
               price += parseInt($(obj).attr('data-price'));
            });

            $(document).find("input[type=checkbox]:checked").each(function(i,obj){
                price += 15;
            });

            $("#total-price").html("Est. subtotal: $"+price);
        }

        function addKeg() {
            var keg = $(document).find('.kegField').length;
            console.log(keg);
            if (keg < 5) {
                var sizes = $("#find-sizes").html();
                $('.add-kegs').append('<div class="field kegField" data-keg="'+keg+'">\n' +
                    '                                <label>Keg '+(keg+1)+'</label>\n' +
                    '                                <div class="fields">\n' +
                    '                                    <div class="six wide field">\n' + '<div class="ui selection size dropdown kegDetails" data-keg="'+keg+'">\n' +
                    '                                            <input type="hidden" name="kegDetails['+keg+'][size]">\n' +
                    '                                            <i class="dropdown icon"></i>\n' +
                    '                                            <div class="default text">Barrel Size</div>\n' +
                    '                                            <div class="menu">\n' +
                    '                                                <div class="item" data-value="1/6 Barrel">1/6 Barrel</div>\n' +
                    '                                                <div class="item" data-value="1/2 Barrel">1/2 Barrel</div>\n' +
                    '                                            </div>\n' +
                    '                                        </div>'+
                    '                                    </div>\n' +
                    '                                    <div class="six wide field">\n' + '<div class="ui selection beerType disabled dropdown kegDetails" data-keg="'+keg+'">\n' +
                    '                                            <input type="hidden" name="kegDetails['+keg+'][beerType]">\n' +
                    '                                            <i class="dropdown icon"></i>\n' +
                    '                                            <div class="default text">Beer Type</div>\n' +
                    '                                            <div class="menu">\n' +
                    '                                                <div class="item" data-value="1920 Lager" data-16="69" data-12="145">1920 Lager</div>\n' +
                    '                                                <div class="item" data-value="SunSpot Gold" data-16="69" data-12="145">SunSpot Gold</div>\n' +
                    '                                                <div class="item" data-value="HefeWeizen" data-16="69" data-12="145">HefeWeizen</div>\n' +
                    '                                                <div class="item" data-value="Mr. Pineapple" data-16="69" data-12="145">Mr. Pineapple</div>\n' +
                    '                                                <div class="item" data-value="Epicenter Amber" data-16="69" data-12="145">Epicenter Amber</div>\n' +
                    '                                                <div class="item" data-value="Devil\'s Ale" data-16="69" data-12="145">Devil\'s Ale</div>\n' +
                    '                                                <div class="item" data-value="HopShock IPA" data-16="69" data-12="145">HopShock IPA</div>\n' +
                    '                                                <div class="item" data-value="MoonJuice IPA" data-16="84" data-12="175">MoonJuice IPA</div>\n' +
                    '                                                <div class="item" data-value="Juicy Jack IPA" data-16="84" data-12="175">Juicy Jack IPA</div>\n' +
                    '                                                <div class="item" data-value="Oktoberfest" data-16="84" data-12="175">Oktoberfest (Aug - Oct)</div>\n' +
                    '                                                <div class="item" data-value="Sex Panther" data-16="69" data-12="145">Sex Panther (Nov - Feb)</div>\n' +
                    '                                                <div class="item" data-value="Winter Warmer" data-16="135" data-12="329">Winter Warmer (Day before Thanksgiving - Dec)</div>\n' +
                    '                                            </div>\n' +
                    '                                        </div>'+
                    '                                    </div>\n' +
                    '                                    <div class="four wide kegPrice field" data-keg="'+keg+'" style="align-self: center;">\n' +
                    '                                    </div>\n' +
                    '                                </div>\n' +
                    '                            </div>');
                $(document).find('.size.kegDetails[data-keg='+keg+']').dropdown({
                    onChange: function(value, text, $choice) {
                        activateBeerType(value, text, $choice, this);
                    }
                });
                $(document).find('.beerType.kegDetails[data-keg='+keg+']').dropdown({
                    onChange: function(v, t, $c) {


                        var keg = $($c).closest('.kegDetails').attr('data-keg');
                        var price = 0;
                        var size = $(document).find('input[name="kegDetails['+keg+'][size]"]').val();


                        if (size == "1/6 Barrel") {
                            price = $($c).attr('data-16');
                        } else {
                            price = $($c).attr('data-12');
                        }

                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);

                        console.log(keg, price);
                        calculate();
                    }
                });

                if (keg === 4) {
                    $(".addKegButton").addClass('disabled');
                }

            }
        }

        function activateBeerType(value, text, $choice, elem) {
            var keg = $(elem).attr('data-keg');
            console.log('findme', value, text, $choice, elem);
            var myValues = [];

            // $('.find-beers option').each(function(i,obj) {
            //     console.log($(obj));
            //     console.log(value);
            //     var beerCat = $(obj).attr('data-cat');
            //     if (beerCat === value) {
            //         myValues.push({name:$(obj).attr('value'), value:$(obj).attr('value'), price: $(obj).attr('data-price')});
            //     }
            // });

            console.log(keg, myValues);

            $(document).find('.kegDetails.beerType[data-keg='+keg+']')
                .dropdown({
                    onChange: function(v, t, $c) {
                        console.log($c);
                        $(".addKegButton").show();
                        var keg = $($c).closest('.kegDetails').attr('data-keg');
                        var price = 0;
                        var size = $(document).find('input[name="kegDetails['+keg+'][size]"]').val();
                        console.log('size', size);

                        if (size == "1/6 Barrel") {
                            price = $($c).attr('data-16');
                        } else {
                            price = $($c).attr('data-12');
                        }

                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);
                        $("#submit-form").removeClass('disabled');
                        console.log(keg, price);
                        calculate();
                    }
                })
                .removeClass('disabled')
            ;

        }

        $(".addKegButton").on("click", function(){
            addKeg();
        });

       $('.size')
           .dropdown({
               onChange: function(value, text, $choice) {
                   activateBeerType(value, text, $choice, this);
               }
           })
       ;
    });

    $("#submit-form").on("click", function(){
        var button = $(this);

        if ($('input[name=phone]').val() == "") {
            alert("You must enter a phone number.");
            return false;
        } else {
            // return false;
            button.addClass('loading');
            var form = $('#my-form').serialize();
            $.post('/actions/business-logic/example/sendgrid-ajax', form, function(data){
                console.log(data);
                if (data.success === true) {
                    $("#little-button").html('Your request has been submitted. Thank you!');
                    button.removeClass('loading');
                }
            });
            // button.removeClass('loading');
        }
        // button.addClass('loading');

        // var form = $('#my-form').serialize();
        // $.post('https://azi068p1lh.execute-api.us-east-1.amazonaws.com/Prod', form, function(data){
        //     console.log(data);
        //     if (data.success === true) {
        //         $("#little-button").html('Your request has been submitted. Thank you!');
        //     }
        //     button.removeClass('loading');
        // });
        // button.removeClass('loading');
    });
</script>

{% include 'globals/footer' %}
