{% redirect "https://santantours.com/?page_id=3432" 301 %}
{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}
{% set keg = craft.entries.section('orderKeg').one() %}

{% set back = '' %}
{% for asset in keg.categoryBackgroundImage.all() %}
    {% set back = 'background: url('~asset.url~') no-repeat;background-position: center;background-size:cover;' %}
{% endfor %}

{% set sizes = craft.categories.group('beerFormats').find() %}


<style>
    .ui.fluid.container {
        margin: 0 !important;
    }

    .my-grid {
        margin: -4em !important;
    }

    @media screen and (max-width: 768px) {
        .my-grid {
            margin: -4em auto !important;
            width: 100%;
        }
    }

</style>

<div class="ui fluid container" style="min-height: 100%;display: flex;flex-direction: column;justify-content: space-evenly;{{back}}">
    <div class="ui container" style="padding: 10em 0 5em;">
        <div class="ui inverted segment" style="background: {{keg.keg_backgroundColor}};border-radius: 87px;box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.29);">
            <div class="ui stackable grid my-grid">
                <div class="six wide computer only column" style="display: flex;flex-direction: column;justify-content: center">
                    {% for asset in keg.kegAsset.all() %}
                    <img src="{{asset.url}}" class="ui centered image">
                    {% endfor %}
                </div>
                <div class="eight wide computer sixteen wide tablet column">
                    <h1 style="text-transform: uppercase;margin-bottom: 0;text-shadow: 10px -10px 40px #000000;">Order Kegs</h1>
    
                    <p style=" font-size: 16px;">
                       SanTan kegs are a great addition to your hosted events or to put in your kegerator at home or office. Please give us 48 hours notice to prepare your keg for pickup at our production facility on Warner Road in between Arizona Ave and McQueen. Don’t forget the tap and keg tub!
                    </p>

    <div class="" id="little-button" style="margin: 2em 0 4em;">
                            <div style="display:flex;justify-content: flex-start;">
                               <a href="https://santantours.com/?page_id=3432" target="_blank"> <button class="ui red button" id="" type="button">ORDER KEG(S)</button>
                                <div id="" style="    align-self: center;margin-left: 1em;"></div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.beerType')
            .dropdown()
        ;


        function calculate() {
            var price = 0;
            $(document).find('.kegPrice').each(function(i,obj) {
               price += parseInt($(obj).attr('data-price'));
            });
            $("#total-price").html("Total: $"+price);
        }

        function addKeg() {
            var keg = $(document).find('.kegField').length;
            console.log(keg);
            if (keg < 5) {
                var sizes = $("#find-sizes").html();
                $('.add-kegs').append('<div class="field kegField" data-keg="'+keg+'">\n' +
                    '                                <label>Keg '+(keg+1)+'</label>\n' +
                    '                                <div class="fields">\n' +
                    '                                    <div class="six wide field">\n' +
                    '                                        <select class="ui size dropdown kegDetails" data-keg="'+keg+'" name="kegDetails['+keg+'][size]">\n' +
                    '                                            <option value="">Size</option>\n' +
                                                                 sizes+
                    '                                        </select>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="six wide field">\n' +
                    '                                        <select class="ui beerType disabled dropdown kegDetails" data-keg="'+keg+'" name="kegDetails['+keg+'][beerType]">\n' +
                    '                                            <option value="">Beer Type</option>\n' +
                    '                                        </select>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="four wide kegPrice field" data-keg="'+keg+'" style="align-self: center;">\n' +
                    '                                    </div>\n' +
                    '                                </div>\n' +
                    '                            </div>');
                $(document).find('.size[name="kegDetails['+keg+'][size]"]').dropdown({
                    onChange: function(value, text, $choice) {
                        activateBeerType(value, text, $choice, this);
                    }
                });
                $(document).find('.beerType[name="kegDetails['+keg+'][beerType]"]').dropdown({
                    onChange: function(v, t, $c) {

                        console.log($($c).attr('data-price'));
                        var price = $($c).attr('data-price');
                        var keg = $($c).closest('div.beerType').find('select').attr('data-keg');
                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);
                        console.log(keg, price);
                        calculate();
                    }
                });

                if (keg === 4) {
                    $(".addKegButton").addClass('disabled');
                }

            }
        }

        function activateBeerType(value, text, $choice, elem) {
            var keg = $(elem).attr('data-keg');
            console.log('findme', value, text, $choice, elem);
            var myValues = [];

            $('.find-beers option').each(function(i,obj) {
                console.log($(obj));
                console.log(value);
                var beerCat = $(obj).attr('data-cat');
                if (beerCat === value) {
                    myValues.push({name:$(obj).attr('value'), value:$(obj).attr('value'), price: $(obj).attr('data-price')});
                }
            });

            console.log(myValues);

            $(document).find('select[name="kegDetails['+keg+'][beerType]"]').parent('.beerType')
                .dropdown({
                    values: myValues,
                    onChange: function(v, t, $c) {
                        $(".addKegButton").show();
                        var price = $($c).attr('data-price');
                        var select = $($c).closest('div.beerType').find('select');
                        var keg = select.attr('data-keg');
                        select.append('<option value="'+v+'" selected>'+v+'</option>');
                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);
                        $("#submit-form").removeClass('disabled');
                        console.log(keg, price);
                        calculate();
                    }
                })
                .removeClass('disabled')
            ;

        }

        $(".addKegButton").on("click", function(){
            addKeg();
        });

       $('.size')
           .dropdown({
               onChange: function(value, text, $choice) {
                   activateBeerType(value, text, $choice, this);
               }
           })
       ;
    });

    $("#submit-form").on("click", function(){
        var button = $(this);
        console.log($('input[name=phone]').val());
        return false;
        // if ($('input[name=phone]').val() == "") {
        //     alert("You must enter a phone number.");
        //     return false;
        // } else {
        //     button.addClass('loading');
        //     var form = $('#my-form').serialize();
        //     $.post('https://azi068p1lh.execute-api.us-east-1.amazonaws.com/Prod', form, function(data){
        //         console.log(data);
        //         if (data.success === true) {
        //             $("#little-button").html('Your request has been submitted. Thank you!');
        //         }
        //         button.removeClass('loading');
        //     });
        //     button.removeClass('loading');
        // }
        
    });
</script>

{% include 'globals/footer' %}