{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}
{% include 'globals/header' %}


<div class="ui fluid container" style="background-color: #222222">
    <div class="ui inverted segment" style="padding-top: 10em; padding-bottom: 5em;">
        <h2 style="text-align: center">PRIVACY POLICY</h2>
    </div>
</div>

<div class="ui container" id="map" style="padding: 2em 0;">
    {{entry.privacyPolicyContent | raw}}
</div>

{% include 'globals/footer' %}