{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}
{% set keg = craft.entries.section('requestTapOrCans').one() %}

{% set back = '' %}
{% for asset in entry.categoryBackgroundImage.all() %}
{% set back = 'background: url('~asset.url~') no-repeat;background-position: center;background-size:cover;' %}
{% endfor %}

<style>
    .ui.fluid.container {
        margin: 0 !important;
    }
</style>

<div class="ui fluid container" style="/* min-height: 100%;display: flex;flex-direction: column;justify-content: space-evenly; */{{back}}">
    <div class="ui container" style="padding: 15em 0;">
        <div class="ui inverted segment" style="background: {{keg.keg_backgroundColor}};border-radius: 87px;box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.29);">
            <div class="ui stackable grid" style="margin: -4em;">
                <div class="five wide computer only column" style="align-self: center">
                    {% for asset in entry.kegAsset.all() %}
                    <img src="{{asset.url}}" class="ui medium centered image" style="    margin-left: 0;">
                    {% endfor %}
                </div>
                <div class="ten wide computer sixteen wide tablet column">
                    <h1 style="text-transform: uppercase;margin-bottom: 0;text-shadow: 10px -10px 40px #000000;">{{entry.title}}</h1>
                    <!--<h4 style="text-transform: uppercase;color:#7c7c7c;margin-top: 0">(Pickup at downtown Chandler location only)</h4>-->
                    <p style=" font-size: 16px;">
                        {% set paragraph = entry.requestParagraph|nl2br %}
                        {{paragraph|raw}}
                    </p>
                    <form id="my-form" class="ui inverted form" style="margin: 3em 0">
                        <input type="hidden" name="mailto" value="{{entry.formEmailNotifications}}">
                        <input type="hidden" name="formTitle" value="Request Tap or Can Form">
                        <div class="ui stackable grid">


                            {% for field in entry.cateringFormBuilder %}
                                {% if field.cfb_fieldType == 'textField' %}
                                <div class="{{field.cfb_columnWidth}} column">
                                    <div class="field">
                                        <input type="text" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                                    </div>
                                </div>
                                {% elseif field.cfb_fieldType == 'textArea' %}
                                <div class="{{field.cfb_columnWidth}} column">
                                    <div class="field">
                                        <textarea name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}"></textarea>
                                    </div>
                                </div>
                                {% elseif field.cfb_fieldType == 'datePicker' %}
                                <div class="{{field.cfb_columnWidth}} column">
                                    <div class="field">
                                        <input type="date" name="{{field.cfb_fieldTitle}}" placeholder="{{field.cfb_fieldTitle}}">
                                    </div>
                                </div>
                                {% elseif field.cfb_fieldType == 'dropdown' %}
                                <div class="{{field.cfb_columnWidth}} column">
                                    <div class="field">
                                        <select class="ui dropdown" name="{{field.cfb_fieldTitle}}">
                                            <option value="0">{{field.cfb_fieldTitle}}</option>
                                            {% for options in field.cfb_dropdownValues %}
                                            <option value="{{options.optionValue}}">{{options.optionLabel}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <div class="sixteen wide column">
                                <div class="field" id="little-button">
                                    <button class="ui red button" id="submit-form" type="button">SUBMIT REQUEST</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.beerType')
            .dropdown()
        ;


        function calculate() {
            var price = 0;
            $(document).find('.kegPrice').each(function(i,obj) {
                price += parseInt($(obj).attr('data-price'));
            });
            $("#total-price").html("Total: $"+price);
        }

        function addKeg() {
            var keg = $(document).find('.kegField').length;
            console.log(keg);
            if (keg < 5) {
                var sizes = $("#find-sizes").html();
                $('.add-kegs').append('<div class="field kegField" data-keg="'+keg+'">\n' +
                    '                                <label>Keg '+(keg+1)+'</label>\n' +
                    '                                <div class="fields">\n' +
                    '                                    <div class="six wide field">\n' +
                    '                                        <select class="ui size dropdown kegDetails" data-keg="'+keg+'" name="kegDetails['+keg+'][size]">\n' +
                    '                                            <option value="">Size</option>\n' +
                    sizes+
                    '                                        </select>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="six wide field">\n' +
                    '                                        <select class="ui beerType disabled dropdown kegDetails" data-keg="'+keg+'" name="kegDetails['+keg+'][beerType]">\n' +
                    '                                            <option value="">Beer Type</option>\n' +
                    '                                        </select>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="four wide kegPrice field" data-keg="'+keg+'" style="align-self: center;">\n' +
                    '                                    </div>\n' +
                    '                                </div>\n' +
                    '                            </div>');
                $(document).find('.size[name="kegDetails['+keg+'][size]"]').dropdown({
                    onChange: function(value, text, $choice) {
                        activateBeerType(value, text, $choice, this);
                    }
                });
                $(document).find('.beerType[name="kegDetails['+keg+'][beerType]"]').dropdown({
                    onChange: function(v, t, $c) {
                        console.log($($c).attr('data-price'));
                        var price = $($c).attr('data-price');
                        var keg = $($c).closest('div.beerType').find('select').attr('data-keg');
                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);
                        console.log(keg, price);
                        calculate();
                    }
                });

                if (keg === 4) {
                    $(".addKegButton").addClass('disabled');
                }

            }
        }

        function activateBeerType(value, text, $choice, elem) {
            var keg = $(elem).attr('data-keg');
            console.log(keg);
            var myValues = [];

            $('.find-beers option').each(function(i,obj) {
                console.log($(obj));
                console.log(value);
                var beerCat = $(obj).attr('data-cat');
                if (beerCat === value) {
                    myValues.push({name:$(obj).attr('value'), value:beerCat, price: $(obj).attr('data-price')});
                }
            });

            console.log(myValues);

            $(document).find('select[name="kegDetails['+keg+'][beerType]"]').parent('.beerType')
                .dropdown({
                    values: myValues,
                    onChange: function(v, t, $c) {
                        $(".addKegButton").show();
                        var price = $($c).attr('data-price');
                        var keg = $($c).closest('div.beerType').find('select').attr('data-keg');
                        $(document).find('.kegPrice[data-keg='+keg+']').attr('data-price', price).html('$'+price);
                        console.log(keg, price);
                        calculate();
                    }
                })
                .removeClass('disabled')
            ;
        }

        $(".addKegButton").on("click", function(){
            addKeg();
        });

        $('.size')
            .dropdown({
                onChange: function(value, text, $choice) {
                    activateBeerType(value, text, $choice, this);
                }
            })
        ;
    });

    $("#submit-form").on("click", function(){
        var button = $(this);
        button.addClass('loading');
        var form = $('#my-form').serialize();
        $.post('/actions/business-logic/example/sendgrid-ajax', form, function(data){
            console.log(data);
            if (data.success === true) {
                button.removeClass('loading');
                $("#little-button").html('Your request has been submitted. Thank you!');
            }
        });
        // button.removeClass('loading');
    });
</script>

{% include 'globals/footer' %}