{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

<style>

    .section {
        min-height:100vh;
        display:flex;flex-direction: column;justify-content: center;flex-wrap: wrap;height: 100vh;
        width: 100%;
        position: relative;
    }

    .section-slideshow {
        position: relative;
        overflow: hidden;
        height: 100%;
        /* left: 0; */
        /* width: 100%; */
        /* top: 0; */
        z-index: -1;
    }
    .section-images {
        position: absolute;
        z-index: -1;
        height: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 300%;
        animation: slideshow 35s linear infinite;
    }

    a,span,p {
        font-size: 16px;
    }

    .section-images img {
        border: 1rem solid transparent;
        width: auto;
        height: 100%;
    }

    @keyframes slideshow {
        0%    { left: 0; }
        100%  { left: -200%; }
    }

    .the-footer, .the-footer .fp-tableCell {
        height: auto !important;
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #f12b15;
        box-shadow: 1px 1px 20px #00000066;
    }

    .gradient-overlay:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #000, #002f4b00, #002f4b00, #000000);
        opacity: .6;
    }

    .spirits-tab-slide {
        transition: all 1s ease-out;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        height: 100vh;
    }

    .ui.vertical.menu {
        width: 12rem !important;
    }

    .slick-list.draggable {
        padding: 0 !important;
    }

    .vodka-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    @media screen and (max-width: 1024px) {
        .spirits-tab-slide {
            height: 100%;
        }

        .vodka-wrap {
            justify-content: center;
        }
    }

</style>

<div id="fullpage">
    {% for section in entry.fullPageSections %}
        {% set back = '' %}
        {% if section.type == 'newStandardSection' %}
            {% for asset in section.fp_standard_background.all() %}
                {% set back = 'background-image:url('~asset.url~');' %}
                {% set back = '' %}
            {% endfor %}
        {% endif %}

        {% set height = '' %}
        {% if loop.index == 2 %}
            {% set height = 'height: 100% !important;' %}
        {% endif %}

        <div class="section" data-anchor="section-{{loop.index}}" style="{{height}}background-color: black;">

            {% if section.type == 'newSpiritsTabSection' %}
                {% set whiskeyBack = '' %}
                {% for asset in section.fp_spirits_whiskeyBackground.all() %}
                    {% set whiskeyBack = asset.url %}
                {% endfor %}
                {% set vodkaBack = '' %}
                {% for asset in section.fp_spirits_vodkaBackground.all() %}
                    {% set vodkaBack = asset.url %}
                {% endfor %}
                <div class="slide spirits-tab-slide" style="background:url({{whiskeyBack}});padding: 3em 0;display: flex;flex-direction: column;justify-content: center;">
                    <div class="ui container">
                        <div class="ui stackable grid">
                            <div class="three wide computer only column">
                                <div class="ui pointing vertical secondary spirit-selector menu" style="margin-top:7em">
                                    <a class="active item" style="color:white;" data-tab="first">WHISKEY</a>
                                    <a class="item" style="color:white;" data-tab="second">VODKA</a>
                                </div>
                            </div>
                            <div class="thirteen wide column">

                                <div class="ui active tab" data-tab="first" data-background="{{whiskeyBack}}">
                                    <div class="ui stackable grid" style="color: white !important;">
                                        <div class="six wide column">
                                            <h4 style="margin-top:5em">EXPLORE THE SPIRITS</h4>
                                            <div class="ui grid">
                                                <div class="tablet mobile only row">
                                                    <div class="sixteen wide column">
                                                        <div class="ui pointing secondary spirit-selector menu">
                                                            <a class="item active" style="color:white;"
                                                               data-tab="first">WHISKEY</a>
                                                            <a class="item" style="color:white;"
                                                               data-tab="second">VODKA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h2>WHISKEY</h2>
                                            <p>{{section.fp_spirits_whiskeyBlurb}}</p>
                                        </div>
                                        <div class="ten wide column">
                                            <div style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                                                {% for spirit in section.fp_spirits_spotlightWhiskey.all() %}
                                                    <div>
                                                        {% for blocks in spirit.imagery.all() %}
                                                            {% for asset in blocks.canAsset.all() %}
                                                                <img src="{{asset.url}}" class="ui centered image" style="max-height: 600px;width: auto;height: auto;">
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <h4 style="text-align: center;text-transform: uppercase;margin-top:0">{{spirit.title}}<br>{{spirit.subtitle}}</h4>
                                                        <h5 style="text-align:center;text-transform:uppercase"><a href="{{spirit.url}}" style="font-size: 14px;letter-spacing: 0.7px;color: #ee2e24;">SEE DETAILS <i class="circle red right arrow icon"></i></a></h5>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="ui tab" data-tab="second" data-background="{{vodkaBack}}">
                                    <div class="ui stackable grid" style="color: white !important;">
                                        <div class="six wide column">
                                            <h4 style="margin-top:5em">EXPLORE THE SPIRITS</h4>
                                            <div class="ui grid">
                                                <div class="tablet mobile only row">
                                                    <div class="sixteen wide column">
                                                        <div class="ui pointing secondary spirit-selector menu">
                                                            <a class="item" style="color:white;"
                                                               data-tab="first">WHISKEY</a>
                                                            <a class="item active" style="color:white;"
                                                               data-tab="second">VODKA</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h2>VODKA</h2>
                                            <p>{{section.fp_spirits_vodkaBlurb}}</p>
                                        </div>
                                        <div class="ten wide column">
                                            <div class="vodka-wrap">
                                                {% for spirit in section.fp_spirits_spotlightVodka.all() %}
                                                    <div>
                                                        {% for blocks in spirit.imagery.all() %}
                                                            {% for asset in blocks.canAsset.all() %}
                                                                <img src="{{asset.url}}" class="ui centered image" style="max-height: 600px;width: auto;height: auto;">
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <h4 style="text-align: center;text-transform: uppercase;margin-top:0">{{spirit.title}}<br>{{spirit.subtitle}}</h4>
                                                        <h5 style="text-align:center;text-transform:uppercase"><a href="{{spirit.url}}" style="font-size: 14px;letter-spacing: 0.7px;color: #ee2e24;">SEE DETAILS <i class="circle red right arrow icon"></i></a></h5>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% else %}
                <div class="intro backgrounds gradient-overlay" style="position:relative;height: 100%;display:flex;flex-direction: column;justify-content: center;{{back}}">
                    {% set color = '' %}
                    {% if section.whiteText %}
                        {% set color = 'color:white' %}
                    {% endif %}
                    <div class="ui container" style="position: relative;z-index: 2;{{color}}">
                        {% set centered = '' %}
                        {% if section.centerText %}
                        {% set centered = 'text-align:center;' %}
                        {% endif %}
                        {% set stuff = 'margin-right:auto;' %}
                        {% if section.fp_standard_alignContent == 'center' %}
                        {% set stuff = 'margin-left:auto;margin-right:auto;' %}
                        {% elseif section.fp_standard_alignContent == 'right' %}
                        {% set stuff = 'margin-left:auto;' %}
                        {% endif %}

                        {% set invertClass = '' %}
                        {% set invertStyle = 'text-shadow:3px 3px 3px rgba(0,0,0,0.8)' %}
                        {% if section.fp_standard_invertedSegment %}
                        {% set invertClass = 'inverted segment' %}
                        {% set invertStyle = 'background:rgba(0,0,0,0.7)' %}
                        {% endif %}

                        <div class="ui stackable grid {{invertClass}}" style="{{invertStyle}}">
                            {% if section.bookendAssetLeft | length %}
                            <div class="four wide column">
                                <div>
                                    {% for asset in section.bookendAssetLeft.all() %}
                                    <img src="{{asset.url}}" class="ui centered image">
                                    {% endfor %}
                                </div>
                                <div style="text-align: center;margin-top: 1em;">
                                    <h4 style="text-transform: uppercase;">{{section.leftAssetTitle}}</h4>
                                    {% if section.leftAssetCta | length %}
                                    {% for row in section.leftAssetCta %}
                                    <p><a class="text red" href="{{row.leftAsset_ctaUrl}}">{{row.leftAsset_ctaText}}</a></p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="eight wide column" style="max-width: 600px;display:flex;flex-direction: column;justify-content: center;height: auto;{{stuff}}{{centered}}">
                                {% set invertStyle = '' %}
                                {% if section.fp_standard_invertedSegment %}
                                {% set invertStyle = 'position:relative;top:-10%;' %}
                                {% endif %}
                                {% if section.titleAsset | length %}
                                <div>
                                    {% for asset in section.titleAsset.all() %}
                                    <img class="ui centered medium image" src="{{asset.url}}">
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if section.fp_standard_subtitle | length %}
                                <h4>{{section.fp_standard_subtitle}}</h4>
                                {% endif %}

                                {% if section.fp_standard_title | length %}
                                <h2 style="font-size: 3.5em;{{invertStyle}}">{{section.fp_standard_title}}</h2>
                                {% endif %}

                                {% set centered = '' %}
                                {% if section.centerText %}
                                {% set centered = 'max-width:500px;margin-left: auto; margin-right: auto;' %}
                                {% endif %}

                                {% if section.fp_standard_bodyCopyAssets | length %}
                                <div style="max-width: 500px; width: 100%;display:flex;justify-content: space-between;{{centered}}{{invertStyle}}">
                                    {% for asset in section.fp_standard_bodyCopyAssets.all() %}
                                    <div>
                                        <img src="{{asset.url}}" class="ui small image">
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% if section.fp_standard_bodyCopy | length %}
                                {% set invertStyle = '' %}
                                {% if section.fp_standard_invertedSegment %}
                                {% set invertStyle = 'margin-bottom:2em' %}
                                {% endif %}
                                <p style="max-width: 400px; {{centered}}{{invertStyle}}">{{section.fp_standard_bodyCopy}}</p>
                                <!-- <p style="max-width: 400px; {{centered}}{{invertStyle}}">COMING SOON</p> -->
                                {% endif %}



                                {% if section.fp_standard_ctaText | length %}
                                    {% set text = section.fp_standard_ctaText %}
                                    <div><a class="ui button red" role="button" href="{{section.fp_standard_ctaUrl}}" data-type="section.fp_standard_ctaText">{{text | raw}}</a></div>
                                {% endif %}
                            </div>

                            {% if section.bookendAssetRight | length %}
                            <div class="four wide column">
                                <div>
                                    {% for asset in section.bookendAssetRight.all() %}
                                    <img src="{{asset.url}}" class="ui centered image">
                                    {% endfor %}
                                </div>
                                <div style="text-align: center;margin-top: 1em;">
                                    <h4 style="text-transform: uppercase;text-align: center">{{section.rightAssetTitle}}</h4>
                                    {% if section.rightAssetCta | length %}
                                    {% for row in section.rightAssetCta %}
                                    {% set text = row.rightAsset_ctaText %}
                                    <p><a class="text red" href="{{row.rightAsset_ctaUrl}}">{{text | raw}}</a></p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                    <div class="your-class" style="position: absolute;z-index: 0;width: 100%;height: 100%;top: 0;left: 0;opacity: 0.5;">
                        {% for asset in section.fp_standard_background.all() %}
                        <div style="width: 100%;height: 100vh;background-image:url({{asset.url}});background-size: cover;background-position: center;background-repeat: no-repeat;    background-position-x: 10.333%;"></div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </div>
    {% endfor %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.3/fullpage.extensions.min.js"></script>
<script src="https://alvarotrigo.com/fullPage/fullpage.offsetSections.limited.min.js"></script>
<script>
    $(document).ready(function(){
        $('.spirit-selector.menu .item').tab({
            onLoad: function(tabPath, parm, his) {
                var tab = $('div[data-tab='+tabPath+']').attr('data-background');
                console.log(tab);
                $(".slide.spirits-tab-slide").css({
                    background: 'url('+tab+')'
                });
            }
        });
        $(".your-class").slick({
            autoplay: true,
            autoplaySpeed: 5000,
            fade: true,
            arrows: false
        });
        // var myFullpage = new fullpage('#fullpage', {
        //     licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        //     scrollOverflowReset:true,
        //     scrollOverflow:true,
        //     responsiveHeight: 600,
        //     navigation: true,
        //     navigationPosition: 'right',
        //     offsetSections:true,
        //     afterResponsive: function(isResponsive){
        //
        //     }
        // });
    })
</script>

{% include 'globals/footer' %}