{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set backs = '' %}

{% set myArray = [] %}


{% set myArray = myArray|merge([1]) %}
{% set myArray = myArray|merge([2,3]) %}
{% set myArray = myArray|merge([4]) %}

{% for blocks in entry.pageHero.all() %}
    {% set myArray = blocks.backgroundImages.all() %}
{% endfor %}

{% if backs %}
    {% set backs = 'background-image: ' ~ backs ~ ';' %}
{% endif %}
<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .ui.secondary.pointing.menu .active.item {
        color: #fff !important;
    }
    .ui.menu:after {
        display: none !important;
    }

    .ui.secondary.pointing.menu .item {
        padding: 1.5em 0;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }

    .head i {
        opacity: 0.5;
    }

    .segment-max-width {
        max-width: 450px;
    }

    .menu-wrapper {
        background-color: #ff9800;
        position: relative;
        margin: 0 auto !important;
    }

    .menu-wrapper .stackable.menu {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 0 !important;
    }

    @media screen and (max-width: 768px) {
        .segment-max-width {
            max-width: 330px;
        }

        .menu-wrapper {
            background-color: #ff9800;
            position: relative;
            margin: 0 !important;
        }

        .menu-wrapper .stackable.menu {
            margin: 0 2rem !important;
        }

    }

</style>
<!--<div class="ui fluid container">-->
    <!--<div class="ui stackable grid">-->
        <!--<div class="eight wide column" style="padding: 12em 0 5em;background-image:url({{myArray[0]['url']}});background-repeat:no-repeat;background-size:cover;">-->
            <!--<div class="ui inverted segment" style="background-color: rgba(238, 46, 36, 0.9);max-width: 450px;">-->
                <!--<div style="max-width: 270px;margin-left: auto">-->
                    <!--<h2 style="text-transform: uppercase">TAP MENU</h2>-->
                    <!--<p>-->
                        <!--<a href="{{alias('@web')}}/eateries" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO EATERY MENUS</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h1 id="tap-menu-title" style="color:#fff;text-transform: uppercase;padding-top: 0.7em;max-width: 500px;margin-left: auto;text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);">Beers on tap in Chandler!</h1>-->
        <!--</div>-->
        <!--<div class="eight wide column" style="padding-bottom: 100px;background-image:url({{myArray[1]['url']}});background-repeat:no-repeat;background-size:cover;"></div>-->
    <!--</div>-->
<!--</div>-->


<div class="ui fluid container">
    <div class="ui stackable grid">
        <!--<div class="eight wide computer sixteen wide tablet column" style="padding: 12em 0 5em;background-image:url({{myArray[0]['url']}});background-repeat:no-repeat;background-size:cover;">-->
        <!--<div class="ui inverted segment" style="background-color: rgba(238, 46, 36, 0.9);max-width: 450px;">-->
        <!--<div style="max-width: 270px;margin-left: auto">-->
        <!--<h2 style="text-transform: uppercase">FOOD MENU</h2>-->
        <!--<p>-->
        <!--<a href="{{alias('@web')}}/eateries" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO EATERY MENUS</a>-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<h1 id="tap-menu-title" style="color:#fff;text-transform: uppercase;padding-top: 0.7em;max-width: 500px;margin-left: auto;text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);"><br>Brunch</h1>-->
        <!--</div>-->

        <div class="eight wide computer sixteen wide tablet column" style="background-image:url({{myArray[0]['url']}});background-repeat:no-repeat;background-size:cover;">
            <div class="ui grid" style="margin: 12em -1rem 5em !important;">
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui inverted segment segment-max-width" style="background-color: rgba(238, 46, 36, 0.9);">
                            <div style="max-width: 270px;margin-left: auto">
                                <h2 style="text-transform: uppercase">TAP MENU</h2>
                                <p>
                                    <a href="{{alias('@web')}}/eateries" style="color:#fff;"><i class="arrow alternate circle left outline icon"></i>&nbsp;BACK TO EATERY MENUS</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="computer only row">
                    <div class="sixteen wide column">
                        <div class="ui inverted segment" style="background-color: rgba(238, 46, 36, 0);max-width: 450px;margin-top: 0.7em;">
                            <div style="max-width: 270px;margin-left: auto">
                                <h1 id="tap-menu-title"  style="text-transform: uppercase;text-shadow: 10px 10px 20px rgba(0,0,0,0.12);">Beers on tap in Chandler!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="eight wide computer only column" style="padding-bottom: 100px;background-image:url({{myArray[1]['url']}});background-repeat:no-repeat;background-size:cover;"></div>
    </div>
</div>

<div class="ui container menu-wrapper">
    <div class="ui pointing secondary stackable menu">
        <a class="active item" data-tab="chandler" data-name="Beers on tap in Chandler!"><h4 style="text-transform: uppercase">Downtown Chandler Tap Room</h4></a>
        <a class="item" data-tab="phoenix" data-name="Beers on tap in Phoenix!"><h4 style="text-transform: uppercase">Uptown Phoenix Tap Room</h4></a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="chandler" style="    background-color: #fffafa;">
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui stackable grid" id="fill-chandler-menu">

        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="phoenix" style="    background-color: #fffafa;">
        <div style="max-width: 900px;margin: 0 auto 2em;" class="ui stackable grid" id="fill-phoenix-menu">

        </div>
    </div>
</div>

{% if entry.groupItems | length %}
    <div class="ui container fluid" style="margin:0;">
        <div class="ui container" style="padding:4em 0">
            <div class="ui equal width center aligned stackable grid">
                {% for block in entry.groupItems.all() %}
                    <div class="column" style="max-width: 350px; ">
                        <div class="ui medium-height image">
                            {% for asset in block.itemAsset.all() %}
                                <img src="{{asset.url}}" class="ui medium-height image">
                            {% endfor %}
                        </div>
                        <h4 style="text-transform: uppercase">{{block.itemTitle | raw}}</h4>
                        <p>{{block.itemDescription}}</p>
                        {% for row in block.itemCta %}
                            <a href="{{row.ctaUrl}}" class="red" style="color:{{colors.primaryColor}}; text-transform: uppercase">{{row.ctaText}} <i class="arrow alternate circle right outline red icon"></i></a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
<script>
    $(document).ready(function(){
        var settings = {
            "async": true,
            // "crossDomain": true,
            "url": "/actions/business-logic/example/locu-ajax",
            "method": "GET",
        };

        function fillMenu(div, obj) {
            var menu = $("#"+div);
            var parent = menu.parent();
            parent.addClass('loading');
            var section = obj.section_name;
            if (section === "") {
                section = "YEAR-ROUND BEERS";
            }
            menu.append("<div class='sixteen wide column' style='margin: 2em 0 1em;'><h5 style='text-align: center;text-transform: uppercase;color:#ee2e24;'>"+section+"</h5></div>");
            $.each(obj.subsections[0]['contents'], function(ind, object) {
                var allName = object.name;
                var names = allName.split("|");
                var desc = "";
                var realDesc = "";
                if ("description" in object) {
                    realDesc = "<p>"+object.description+"</p>";
                }
                if (names[1] !== "" && names[1] != undefined) {
                    desc = names[1];
                }

                if (names[2] !== "" && names[2] != undefined) {
                    if (desc !== "") {
                        desc += " | "+names[2];
                    } else {
                        desc = names[2];
                    }
                }

                var angleDown = "";
                if (realDesc !== "") {
                    angleDown = '<i class=" fitted angle down icon"></i>';
                }

                menu.append("<div class='eight wide column'><div class=\"ui raised segment\"><div class='head'><h6 style='text-transform: uppercase'>"+names[0]+"</h6>"+angleDown+"</div><p style='color:#565656;'>"+desc+"</p></div></div>");
            });
            parent.removeClass('loading');
        }

        $.ajax(settings).done(function (response) {
            var obj = JSON.parse(response);
            var menus = obj.venues[0].menus;
            console.log(menus);
            // var chandler = menus[0];
            // var phoenix = menus[1];
            console.log(chandler);
            // $.each(chandler.sections, function(i,obj) {
            //     fillMenu('fill-chandler-menu', obj);
            // });

            // $.each(phoenix.sections, function(i,obj) {
            //     fillMenu('fill-phoenix-menu', obj);
            // });
        });

        $('.menu .item')
            .tab({
                history: true,
                historyType: 'hash',
                onLoad:function (tabPath, parameter, history) {
                    // console.log(tabPath,parameter,history);
                    var item = $('a.item[data-tab='+tabPath+']');
                    var title = $("#tap-menu-title");
                    title.html(item.attr('data-name'));
                }
            })
        ;

    });
</script>

{% include 'globals/footer' %}