{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}

{% set entries = craft.entries.slug(craft.request.lastSegment) %}
{% set slug = craft.request.lastSegment %}

{% set title = '' %}
{% if entries | length %}
    {% for entry in entries.all() %}
        {% set title = entry.title %}
    {% endfor %}
{% endif %}


{% set allEntries = craft.entries.section('spiritsChannel').order('title asc').all() %}
{% set nextEntry = '' %}
{% set prevEntry = '' %}

{% set first = '' %}
{% set last = '' %}

{% for allEntry in allEntries %}

{% if loop.first %}
{% set first = allEntry %}
{% elseif loop.last %}
{% set last = allEntry %}
{% endif %}
{% if allEntry.slug == slug %}
{% if loop.first %}
{% else %}
{% set prevEntry = allEntry.getPrev() %}
{% endif %}

{% if loop.last %}
{% else %}
{% set nextEntry = allEntry.getNext() %}
{% endif %}
{% endif %}
{% endfor %}

{% if nextEntry == '' %}
{% set nextEntry = first %}
{% elseif prevEntry == '' %}
{% set prevEntry = last %}
{% endif %}

{% if entries | length %}

    {% for entry in entries.all() %}

        {% set back = '' %}

        {% for asset in entry.bigBeerBackground.all() %}
        {% set back = 'background-image:url("'~asset.url~'")' %}
        {% endfor %}

        {% set backgroundGradient = '' %}
        {% set deg = '' %}
        {% set stops = '' %}

        {% if entry.backgroundGradient | length %}
            {% for block in entry.backgroundGradient %}
                {% if block.type == 'direction' %}
                    {% set deg = block.gradientDirection ~ 'deg' %}
                {% endif %}

                {% if block.type == 'addColorStop' %}
                    {% set rgb = block.backgroundGradient_color %}

                    {% if stops | length %}
                        {% set stops = stops ~ ', ' ~ rgb %}
                    {% else %}
                        {% set stops = rgb %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% set backgroundGradient = 'background-image:linear-gradient('~deg~', '~stops~');' %}


        <style>
        .ui.medium-height.image {
            height: 100%;
            max-height: 550px;
            width: auto;
            font-size: 1rem;
        }

        .gradient-overlay:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 60%;
            transform: translateX(-12%);
            margin-top: 3%;
            margin-bottom: 2%;
            background-size: 100% 100%;
            background-position-y: center;
            background-repeat: no-repeat;
            {{backgroundGradient}}
            opacity: 0.9;
            border-radius: 87px;
            /* Safari 3-4, iOS 1-3.2, Android 1.6- */
            -webkit-border-radius: 87px;

            /* Firefox 1-3.6 */
            -moz-border-radius: 87px;
            box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.29);
            z-index: -5;
        }

        .spirit-items p {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.2px;
            text-align: center;
        }

    </style>

        {% set color = 'color:black;' %}
        {% if entry.whiteTextColor %}
            {% set color = 'color:white;' %}
        {% endif %}

        <div class="ui fluid container" style="{{color}}{{back}};background-size:cover;background-position: bottom;background-repeat: no-repeat;    padding-top: 10em;padding-bottom: 5em;background-color:white;">

            <div class="ui container">
                <div class="book-nav" style="justify-content: space-between;display:flex;margin-bottom: 2em;">
                    <div style="margin-right: auto">
                        {% if prevEntry | length %}
                            <a style="text-transform: uppercase;{{color}}" href="{{alias('@web')}}/spirits/{{ prevEntry.slug }}">
                                <i class="chevron left icon"></i>{{prevEntry.title}}
                            </a>
                        {% endif %}
                    </div>
                    <div style="margin-left: auto">
                        {% if nextEntry | length %}
                            <a style="text-transform: uppercase;{{color}}" href="{{alias('@web')}}/spirits/{{ nextEntry.slug }}">
                                {{nextEntry.title}}<i class="chevron right icon"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set background = '' %}
            {% for asset in entry.littleBeerBackground %}
                {% set background = asset.url %}
            {% endfor %}



            <div class="ui fluid container gradient-overlay" style="filter: drop-shadow(2px 2px 35px rgba(0,0,0,0.1));    margin-bottom: 7em;">
                <div class="ui container">
                    <div class="ui three column stackable grid" style="z-index: 5;">
                        <div class="column" style="display:flex;flex-direction: column;justify-content: center;">
                            <div>
                                <div class="header-text">
                                    <h4 style="margin-bottom: 0;text-transform: uppercase">
                                        {% for category in entry.availability %}
                                            {% if category.title != 'Beers' %}
                                                {{category.title}}
                                            {% endif %}
                                        {% endfor %}
                                    </h4>
                                    <h3 style="text-transform: uppercase;margin: 0.2em 0;">{{entry.title}}</h3>
                                    <h4 style="    margin-top: 0;">{{entry.subtitle}}</h4>
                                </div>
                                <div class="middle-text" style="    margin: 2.5em 0;">
                                    <p>{{entry.smallDescription}}</p>
                                </div>
                                <div>
                                    <div class="ui equal width internally celled stackable grid">
                                        {% if entry.descriptionSection | length %}
                                            {% for item in entry.descriptionSection %}
                                                {% set padding = '' %}
                                                {% if loop.index == 1 %}
                                                    {% set padding = 'padding-left:0;' %}
                                                {% endif %}

                                                <div class="column" style="{{padding}}">
                                                    <h6 style="text-transform: uppercase;font-size: 1em !important;white-space: nowrap">{{item.blockTitle}}</h6>
                                                    <div><span style="font-size: 36px;font-weight: bold; color:#ffbc5a;">{{item.blockValue}}</span></div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="buttons" style="margin-top: 2em;">
                                    <p>
                                        <button class="ui red button">FIND NEAR ME</button>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="column">
                            {% for image in entry.imagery %}
                            {% if image.canAsset | length %}
                            {% for asset in image.canAsset %}
                            <img class="ui centered medium-height image" src="{{asset.url}}" style="-webkit-filter: drop-shadow(5px 15px 15px #00000097);filter: drop-shadow(5px 15px 15px #00000097);">
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui container" >
                <div class="aligned center stackable equal width centered grid ui" style="padding: 1.5em 0">
                    {% for item in entry.infoItems %}
                        <div class="column spirit-items">
                            {% for asset in item.itemAsset %}
                            <img class="ui centered tiny image" src="{{ asset.url }}">
                            {% endfor %}
                            <h5 style="text-align: center">{{item.itemName}}</h5>
                            <p>{{item.itemValue}}</p>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui container beer awards" style="    margin-top: 5em;margin-bottom:6em;">
            <h3 style="text-align: center">
                <img class="ui small right spaced image" src="{{alias('@web')}}/assets/beerPages/wheat-left.png" style="width: 120px;">
                AWARDS
                <img class="ui small left spaced image" src="{{alias('@web')}}/assets/beerPages/wheat-right.png" style="width: 120px;">
            </h3>
            <div class="ui equal width stackable grid" style="max-width: 800px; margin: 1.5em auto">
                {% for item in entry.awards %}
                    <div class="column">
                        {% for asset in item.awardAsset %}
                            <img class="ui centered tiny image" src="{{ asset.url }}">
                        {% endfor %}
                        <div class="content" style="text-align: center">
                            <h6 style="margin-bottom: 0.5rem;text-transform: uppercase;margin-top: 0.8em;">{{item.awardYear}}</h6>
                            <div class="description" style="line-height: 1.5;">
                                <p>{{item.awardMedal}}<br>{{item.awardDescription}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if entry.receipe | length %}

                <div style="margin-top:6em">
                    <div class="ui equal width stackable grid">
                        {% for block in entry.receipe %}
                            {% if block.type == 'addImage' %}
                                <div class="column">
                                    {% for asset in block.image %}
                                        <img src="{{asset.url}}" class="ui circular medium floated right image">
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% if block.type == 'addReceipe' %}
                                <div class="column">
                                    <h4 style="text-transform: uppercase">{{block.receipeTitle}}</h4>
                                    <div style="width:400px">
                                        {% set receipe = block.receipe | nl2br %}
                                        {{ receipe|raw }}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}


                    </div>
                </div>

            {% endif %}

        </div>

    {% endfor %}
{% endif %}


{% include 'globals/footer' %}