{% set title = entry.title %}
{% set navbarinvert = entry.navbarInvert %}

{% include 'globals/header' %}


{% set bkgnd = '' %}
{% set address = '' %}
{% for asset in entry.eventHeaderImage.all() %}
{% set bkgnd = asset.url %}
{% endfor %}

<style>

    .ui.fluid.container {
        margin: 0!important;
    }

    .big-boi {
        padding: 0 0 5em !important;
        background-image:url('{{ bkgnd }}') !important;
        background-size: cover !important;
        background-position: bottom !important;
        max-height: 350px !important;
        height: 100% !important;
        display:flex !important;
        flex-direction: column !important;
        justify-content: flex-end !important;
        position: relative;
    }

    .big-boi:before {
        content: '';
        background-color: rgba(0,0,0,0.2) !important;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .centered {
        text-align: left;
    }

    .event-h2 {
        color:#fff;text-transform: uppercase;
        font-size: 22px !important;
        word-wrap: break-word;
    }
    @media screen and (min-width: 320px) {
        .event-h2 {
            font-size: calc(22px + 6 * ((100vw - 320px) / 680)) !important;
        }
    }

    @media screen and (max-width: 768px) {
        .centered {
            text-align: center;
        }
    }
    @media screen and (min-width: 1000px) {
        .event-h2 {
            font-size: 3.5em !important;
        }
    }

</style>

<div class="ui fluid container big-boi">
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide tablet two wide computer column">
                {% set startMonth = entry.eventStartDate | date('M') %}
                {% set startDay = entry.eventStartDate | date('j') %}
                <p style="text-align: center">
                    <span style="text-transform:uppercase;
                      letter-spacing: 1.1px;
                      color: #ffffff;font-size: 20px;font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;">
                        {{startMonth}}
                    </span>
                    <br>
                    <span style="line-height: 0.8;letter-spacing: 2px;font-size: 64px;color: #ffffff;font-family: PlexesBlackPro, proxima-nova,'Helvetica Neue',Arial,Helvetica,sans-serif;">
                        {{startDay}}
                    </span>
                </p>
            </div>
            <div class="ten wide tablet fourteen wide computer column" style="align-self: center">
                <h2 class="event-h2">{{entry.title}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="ui container" style="    margin-bottom: 5em;">
    <div class="ui stackable grid" style="margin: 0;">
        <div class="four wide column centered">
            <h3>DATE &amp; TIME</h3>
            {% set startLong = entry.eventStartDate | date('l, F d') %}
            {% set endLong = entry.eventEndDate | date('l, F d') %}
            {% if startLong == endLong %}
                <p>
                    {{ startLong }}
                    <br>
                    {{entry.eventStartDate.localeTime }} — {{entry.eventEndDate.localeTime }}
                </p>
            {% else %}
                <p>
                    {{entry.eventStartDate.localeTime }} {{ startLong }}
                    <br> — <br>
                    {{entry.eventEndDate.localeTime }} {{ endLong }}
                </p>
            {% endif %}
            <div class="ui hidden divider"></div>
            <h3>LOCATION</h3>
            <p>

                {% for location in entry.event_location.all() %}
                    {% set address = location.eventLocationAddress1 ~ ' ' ~ location.eventLocationCity ~ ' ' ~ location.eventLocationState ~ ' ' ~ location.eventLocationZip %}
                    {{location.eventLocationName}}
                    <br>
                    {{location.eventLocationAddress1}}
                    <br>
                    {{location.eventLocationCity}}, {{location.eventLocationState}} {{location.eventLocationZip}}
                {% endfor %}

            </p>
            {% if entry.eventWebsite %}
                <div class="ui hidden divider"></div>
                <h3>WEBSITE</h3>
                <p><i class="linkify icon"></i> <a href="{{entry.eventWebsite}}" target="_blank" style="color: #ee2e24;word-break: break-all;">{{entry.eventWebsite}}</a></p>
            {% endif %}
            <div class="ui hidden divider"></div>
            <div class="ui list">
                {% if entry.eventFacebookRsvpLink | length %}
                    <div class="item">
                        <a class="ui fluid blue button" href="{{entry.eventFacebookRsvpLink}}" target="_blank">RSVP ON FACEBOOK</a>
                    </div>
                {% endif %}
                {% if entry.eventTicketLink | length %}
                    <div class="item">
                        <a class="ui fluid red button" href="{{entry.eventTicketLink}}" target="_blank">BUY TICKETS</a>
                    </div>
                {% endif %}

                <div class="item"><a class="ui fluid basic black button" href="{{alias('@web')}}/events">BACK TO ALL EVENTS</a></div>
            </div>






        </div>
        <div class="eleven wide column" style="margin-left: auto">
            <div class="ui stackable equal width grid" style="margin: 1rem 0 0;">
                <div class="column">
                    <!--Tags-->
                    <div class="ui red labels">
                        {% for category in entry.eventCategorySelection.all() %}
                            <a class="ui label">
                                {{category.title}}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="column" style="text-align: right">
                    <!--social links-->
                    <div class="ui horizontal link list">
                        {% for link in entry.event_shareLinks.all() %}
                            <a class="item" href="{{link.events_shareLink}}" target="_blank">
                                <i class="{{link.events_shareLinksBrand}} icon"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            {% set descrip = entry.eventDescription|nl2br %}
            <p>{{descrip|raw}}</p>
            <div style="margin-top: 2em;">
                <div class="event-slick">
                    {% for photo in entry.eventImages.all() %}
                        <div>
                            <img src="{{photo.url}}" class="ui image">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui fluid container" id="map" style="padding: 15em 0;">

</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUIpMZf4eNwvd3r4rlDsbhQgNfwUh8rJ0&libraries=places,geometry"></script>


<script>


    window.map;
    window.geocoder;
    window.main_lat = 33.3031185;
    window.main_lng = -111.8430283;

    var myRangeValue = 10;

    var markers = [];
    var places = [];

    var styledMap = new google.maps.StyledMapType([
        {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#444444"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#ee2e24"
                },
                {
                    "visibility": "on"
                },
                {
                    "saturation": "84"
                }
            ]
        },
        {
            "featureType": "administrative.locality",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "saturation": "-25"
                },
                {
                    "lightness": "-66"
                },
                {
                    "color": "#9d9c9c"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#f2f2f2"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": -100
                },
                {
                    "lightness": 45
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "color": "#c7c7c7"
                },
                {
                    "visibility": "on"
                }
            ]
        }
    ]);

    function ZoomControl(controlDiv, map) {

        // Creating divs & styles for custom zoom control
        controlDiv.style.padding = '5px';
        controlDiv.style.paddingBottom = '2em';

        // Set CSS for the control wrapper
        var controlWrapper = document.createElement('div');
        controlWrapper.className = 'btn-shadow';
        controlWrapper.style.backgroundColor = 'white';
        controlWrapper.style.borderRadius = '2em';
        controlWrapper.style.cursor = 'pointer';
        controlWrapper.style.textAlign = 'center';
        controlWrapper.style.width = '32px';
        controlWrapper.style.height = '64px';
        controlDiv.appendChild(controlWrapper);

        // Set CSS for the zoomIn
        var zoomInButton = document.createElement('div');
        zoomInButton.style.width = '32px';
        zoomInButton.style.height = '32px';
        zoomInButton.style.margin = '0 auto';
        zoomInButton.style.padding = '0.5em 0';
        /* Change this to be the .png image you want to use */
        zoomInButton.innerHTML = '<img style="width:22px;height:22px" src="{{alias("@web")}}/assets/globalImages/plus.svg">';
        controlWrapper.appendChild(zoomInButton);

        // Set CSS for the zoomOut
        var zoomOutButton = document.createElement('div');
        zoomOutButton.style.width = '32px';
        zoomOutButton.style.height = '32px';
        zoomOutButton.style.margin = '0 auto';
        zoomOutButton.style.padding = '0.5em 0';
        /* Change this to be the .png image you want to use */
        zoomOutButton.innerHTML = '<img style="width:22px;height:22px" src="{{alias("@web")}}/assets/globalImages/minus.svg">';
        controlWrapper.appendChild(zoomOutButton);

        // Setup the click event listener - zoomIn
        google.maps.event.addDomListener(zoomInButton, 'click', function() {
            map.setZoom(map.getZoom() + 1);
        });

        // Setup the click event listener - zoomOut
        google.maps.event.addDomListener(zoomOutButton, 'click', function() {
            map.setZoom(map.getZoom() - 1);
        });

    }


    function initMap() {


        var address = '{{address}}';

        geocoder = new google.maps.Geocoder();

        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: main_lat, lng: main_lng},
            zoom: 15,
            mapTypeControlOptions: {
                mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
            },
            // zoomControl: true,
            // mapTypeControl: false,
            // scaleControl: true,
            // streetViewControl: false,
            // rotateControl: false,
            // fullscreenControl: false,
            disableDefaultUI: true
        });

        map.mapTypes.set('styled_map', styledMap);
        map.setMapTypeId('styled_map');
        // Create the DIV to hold the control and call the ZoomControl() constructor
        // passing in this DIV.
        var zoomControlDiv = document.createElement('div');
        var zoomControl = new ZoomControl(zoomControlDiv, map);

        zoomControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(zoomControlDiv);

        if (address != '') {
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

    }

    $(document).ready(function() {

        initMap();

        $(".event-slick").slick({
            autoplay: true,
            autoplaySpeed: 5000,
            fade: true,
            arrows: false,
            dots:true
        });

    });

</script>

{% include 'globals/footer' %}